.button {
    width: auto;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button a {
    height: 100%;
    width: 100%;
    padding: 14px 17px;
    display: flex;
    align-items: center;
    grid-gap: 12px;
    color: var(--main-font-color);
}

.button[id="active"] {
    background: var(--main-accent-color);
}

.button[id="active"] a {
    color: var(--main-font-color);
}

.button:hover {
    background: var(--main-accent-color);
}

.button img {
    height: 24px;
    width: 24px;
    filter: var(--main-filter);
    object-fit: contain;
}

@media (max-width: 700px) {
    .button {
        font-size: 16px;
    }
    .button a {
        padding: 15px 15px;
    }
}