.button {
    margin-top: auto;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.3;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: 0.25s ease;
    user-select: none;
}

.button img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    filter: var(--main-filter);
    transition: 0.15s ease;
}

.button:hover {
    opacity: 1;
}

.button:hover img {
    height: 55%;
    width: 55%;
}

.button:active img {
    height: 49%;
    width: 49%;
}