.description {
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.profileDescription {
    height: fit-content;
    width: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vw;
}

.editProfile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    grid-gap: 15px;
}

.name {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-font-color);
}

.button {
    max-width: 120px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background: var(--main-accent-color);
    transform: scale(100%);
    transition: 0.15s ease;
    padding: 8px 22px;
    cursor: pointer;
    color: var(--main-font-color);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button[id="placeholder"] {
    height: 32px;
    width: 80px;
    animation: var(--loading-animation);
}

.navButton {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    grid-gap: 7px;
}

.placeholder {
    height: 40px;
    width: 120px;
    background: var(--main-accent-color);
    animation: var(--loading-animation);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .description {
        height: 200px;
        padding: 0px 1vw;
    }

    .profileDescription {
        margin-left: 5vw;
    }

    .editProfileButton {
        padding: 10px 18px;
    }
}

@media (max-width: 700px) {
    .profileDescription {
        margin-left: 7vw;
    }

    .editProfileButton {
        margin-top: 15px;
    }

    .editProfile {
        justify-content: flex-start;
        text-align: center;
    }
}


@media (max-width: 1300px) {
    .description {
        width: 90%;
        margin-right: 0%;
    }
}

@media (max-width: 950px) {
    .description {
        width: 95%;
        margin-right: 0%;
    }
}