.songQueue { 
    --song-queue-width: 0px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.songQueue {
    top: 0;
    right: calc(-1 * var(--song-queue-width));
    height: 100%;
    width: var(--song-queue-width);
    background: var(--main-background-color);
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    position: absolute;
    z-index: 10;
    padding: 20px;
    transition: 0.25s ease;
    /* box-shadow: 0px 0px 100px var(--main-background-color); */
}

.songQueue[id="open"] {
    --song-queue-width: 400px;
    opacity: 1;
    /* width: var(--song-queue-width); */
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-font-color);
}

.player {
    margin-top: auto;
}