.wrapper {
    width: 100%;
    height: auto;
    /* background: var(--main-accent-color); */
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--main-border-color);
    /* border-top: none; */
    border-bottom: none;
}