.chatPreview {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    grid-gap: 10px;
    cursor: pointer;
}

.chatPreview[id="selected"] {
    background: var(--main-accent-color);
}

.chatPreview:hover {
    background: var(--main-accent-color);
}

.avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.name {
    font-weight: 600;
    font-size: 16px;
    color: var(--main-font-color);
}

.data {
    display: flex;
    flex-direction: column;
}

.message {
    color: var(--main-font-color);
    opacity: 0.7;
    font-size: 15px;
}

.time {
    color: var(--main-font-color);
    opacity: 0.7;
    font-size: 14px;
    margin-left: auto;
}