.input {
    position: relative;
}

.check-state {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    position: absolute;
    height: 29px;
    width: 29px;
    border: 2px solid #eee;
    opacity: 1;
    padding: 7px;
    border-radius: 100%;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

    .check-state img {
        height: 11px;
        transform: none;
        transition: 0.25s ease;
    }

#none {
    opacity: 0;
}

    #none img {
        opacity: 0;
    }

#loading {
    border: 2px solid #eee;
    border-left: 2px solid black;
    animation: loader 1s cubic-bezier(.79,.62,.92,.92) infinite;
}

#loading img {
    opacity: 0;
}

#invalid {
    border: 2px solid red;
}

#valid {
    border: 2px solid #4471f6;
}

#valid img, #invalid img {
    opacity: 1;
}

@keyframes loader {

    0% {
        transform: translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateY(-50%) rotate(360deg);
    }

}