.document {
    /* height: calc(100svh - var(--height)); */
    /* width: 100vw; */
    width: 750px;
    /* aspect-ratio: 1 / 1.4; */
    background: white;
    /* box-shadow: black; */
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.document img {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}