.wrapper {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.95);
    z-index: 999999999;
    top: 0;
    left: 0;
    position: fixed;
    animation: open 0.5s ease;
    --height: 55px;
}

.preview {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file {
    height: calc(100svh - var(--height));
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    color-scheme: dark;
    color: rgb(0, 0, 0);
}

.file::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
  
.file::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 10px;
}

.file img {
    height: calc(100svh - var(--height));
    width: 100vw;
    object-fit: contain;
}

.file video {
    height: calc(100svh - var(--height));
    width: 100vw;
    object-fit: contain;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(95%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

.navigateButton {
    height: calc(100vh - var(--height));
    width: 50px;
    position: fixed;
    background: rgb(25, 25, 25);
    z-index: 999;
    top: var(--height);
    left: 0;
    /* border-radius: 7px; */
    cursor: pointer;
    opacity: 0;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.navigateButton:hover {
    opacity: 1;
}

.navigateButton img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    transform: rotate(180deg);
}

.navigateButton[id="right"] img {
    transform: rotate(0deg);
}

.navigateButton[id="right"] {
    left: auto;
    right: 0;
}

.placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: auto;
    padding-bottom: 70px;
}