.album {
    height: 100%;
    width: 100%;
    user-select: none;
    transition: 0.15s ease;
    cursor: pointer;
}

.album:hover .cover {
    transform: scale(105%);
}

.album:active .cover {
    transform: scale(98%);
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.8 / 1;
    border-radius: 15px;
    transition: 0.15s ease;
    outline: 2px solid transparent;
    outline-offset: 3px;
}

.cover[id="selected"] {
    outline: 2px solid var(--main-blue-color);
}

.coverWrapper {
    position: relative;
    opacity: 0.5;
    animation: fileAnimation 2s ease infinite;
}