.explore {
    height: calc(100vh - var(--disconnected-height));
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 60px;
    left: 0;
    padding-bottom: 10px;
    position: sticky;
    z-index: 1;
    background: var(--main-background-color);
}

.content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    position: relative;
}

.itemsWrapper {
    margin-top: 30px;
    padding-bottom: 30px;
}

.itemsWrapper h1 {
    font-size: 24px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-top: 10px;
    grid-gap: 15px;
}

.items::-webkit-scrollbar {
    display: none;
}

.mobileSearch {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 700px) {
    .explore {
        height: calc(100vh - var(--mobile-header-height) - var(--mobile-bottom-panel-height));
        padding-bottom: 30px;
    }

    .header {
        top: 0px;
        padding-top: 0px;
        height: 60px;
    }

    .items {
        margin-left: 15px;
        margin-right: 15px;
    }    
}