.popup {
    height: 60vh;
    width: 320px;
    background: var(--main-pop-up-color);
    top: 60px;
    right: 30px;
    position: fixed;
    border-radius: 10px;
    box-shadow: var(--main-pop-up-effect);
    z-index: 99999999;
}