.chat {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--main-background-color);
}

.chat[id="mobile"] {
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}

.header {
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--main-header-background-color);
    backdrop-filter: var(--main-blur-effect);
    flex-shrink: 0;
    flex-direction: column;
    z-index: 1;
    user-select: none;
}

.chatInfo {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
}

.avatar {
    height: 40px;
    width: 40px;
    background: var(--main-font-color);
    border-radius: 100%;
    overflow: hidden;
    image-rendering: pixelated;
    user-select: none;
}

.avatarImage {
    height: 100%;
    width: 100%;
    user-select: none;
}

.name {
    font-weight: 600;
    font-size: 16px;
    color: var(--main-font-color);
}

.data {
    font-size: 14px;
    color: var(--main-paragraph-color);
    user-select: none;
}

.right {
    display: flex;
}

.buttonImage {
    height: 20px;
    width: 20px;
    filter: var(--main-filter);
    cursor: pointer;
}

.messages {
    margin-top: auto;
    padding: 15px;
    grid-gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: visible;
}

.input {
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
}

.inputPlaceholder, .buttons {
    height: 50px;
    border-top: 1px solid var(--main-border-color);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.accept, .reject {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.accept, .reject {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s ease;
    user-select: none;
}

.accept:hover, .reject:hover {
    background: var(--main-accent-color);
}

.accept:active, .reject:active {
    height: 85%;
}

.accept {
    color: var(--main-blue-color);
    border-right: 1px solid var(--main-border-color);
}

.reject {
    color: var(--main-red-color);
}

.loder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-gap: 30px;
}

.sendingText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loder span {
    font-size: 16px;
    color: var(--main-paragraph-color);
}

.textInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textInfo span {
    font-size: 16px;
    color: var(--main-paragraph-color);
    max-width: 500px;
}

.date {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--main-paragraph-color);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.back {
    height: 32px;
    width: 32px;
    filter: var(--main-filter);
}