.chat {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: var(--main-background-color);
    flex-shrink: 0;
    z-index: 1;
    user-select: none;
}

.left {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.information {
    display: flex;
    flex-direction: column;
}

.avatar {
    height: 40px;
    width: 40px;
    background: var(--main-font-color);
    border-radius: 100%;
    overflow: hidden;
    image-rendering: pixelated;
}

.avatarImage {
    height: 100%;
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 16px;
    color: var(--main-font-color);
}

.data {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.right {
    display: flex;
}

.buttonImage {
    height: 20px;
    width: 20px;
    filter: var(--main-filter);
    cursor: pointer;
}

.messages {
    margin-top: auto;
    /* min-height: calc(100% - 140px); */
    padding: 15px;
    grid-gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: visible;
}

.input {
    position: sticky;
    margin-top: auto;
    width: 100%;
    bottom: 0;
    left: 0;
}