.user {
    height: auto;
    width: 100%;
    border: 1px solid var(--main-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 7px;
    grid-gap: 5px;
    padding-top: 30px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: var(--main-accent-color);
    flex-shrink: 0;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.name {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.nickname {
    font-size: 17px !important;
    font-weight: 700;
    color: var(--main-font-color);
}

.fullname {
    font-size: 15px;
    color: var(--main-paragraph-color);
}

.button {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-top: 1px solid var(--main-border-color);
    margin-top: 10px;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    justify-content: center;
    color: var(--main-blue-color);
}

.button:hover {
    background: var(--main-accent-color);
}

.statistic {
    display: flex;
    grid-gap: 15px;
}