.add {
    height: auto;
    width: auto;
    position: fixed;
    left: 50%;
    bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    transform: translateX(-50%);
    z-index: 1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    transition: 0.15s ease;
}

.button img {
    height: 25px;
    width: 25px;
    filter: invert(100%);
}

.button:hover {
    transform: scale(102%);
}

.button:active {
    transform: scale(98%);
}

.subButton {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: var(--main-accent-color);
}

.subButton img {
    height: 20px;
    width: 20px;
    image-rendering: crisp-edges;
}

.buttons {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

@media (max-width: 700px) {
    .add {
        bottom: 55px;
    }

    .add[shifted="true"] {
        bottom: 105px;
    }
}