.add {
    height: auto;
    width: auto;
    position: fixed;
    left: 50%;
    bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    transform: translateX(-50%);
    z-index: 1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: var(--main-font-color);
    border-radius: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    transition: 0.15s ease;
}

.button img {
    height: 25px;
    width: 25px;
    filter: var(--main-filter);
}

.button:hover {
    transform: scale(102%);
}

.button:active {
    transform: scale(98%);
}

@media (max-width: 700px) {
    .add {
        bottom: 65px;
    }
}