.header {
    top: 0;
    left: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    width: var(--main-content-width);
    border-bottom: 1px solid var(--not-transparent-border-color);
    position: fixed;
    margin-left: auto;
}

.publicationPage {
    height: 100svh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper {
    overflow: hidden;
    margin-top: 20px;
    border-top: 1px solid var(--not-transparent-border-color);
    border-radius: 26px;
}

.inputWrapper {
    left: 0;
    bottom: 0px;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--main-background-color);
}

.input {
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid var(--not-transparent-border-color);
    background: var(--item-background-color);
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.commentsHeader {
    padding: 12px 15px;
    display: flex;
    user-select: none;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-font-color);
}

.button {
    cursor: pointer;
    font-weight: 600;
    color: var(--main-blue-color);
}