.button {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.3;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: 0.25s ease;
    user-select: none;
}

.button img {
    height: auto;
    width: 20px;
    transition: 0.15s ease;
    filter: var(--main-filter);
}

.button:hover {
    opacity: 1;
}

.button:hover img {
    width: 25px;
}

.button:active img {
    width: 22px;
}

.button[invertedstate="not-inverted"] img {
    filter: none;
}