.wrapper, .progressBar {
    display: flex;
    position: fixed;
    left: 50%;
    height: 40px;
    transform: translateX(-50%);
    border-radius: 20px;
    z-index: 999999;
}

.wrapper {
    width: 200px;
    background: var(--sub-accent-color);
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    bottom: 15px;
}

.loader {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    border: 2px solid var(--sub-accent-color);
    border-left: 2px solid transparent;
    filter: invert(100%);
    margin-left: 10px;
    animation: loader 1s linear infinite;
}

.close {
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-left: auto;
    margin-right: 8px;
}

.progressBar {
    height: 3px;
    background: var(--main-accent-color);
    width: 170px;
    bottom: 7px;
    overflow: hidden;
}

.line {
    height: 100%;
    width: 0%;
    background: var(--sub-accent-color);
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}