.wrapper {
    position: fixed;
    z-index: 9999999999;
    top: 50%;
    left: 50%;
    height: auto;
    width: 300px;
    transform: translateX(-50%) translateY(-50%);
    background: var(--main-background-color);
    border: 2px solid var(--main-border-color);
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.imageWrapper {
    padding-top: 25px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 100px;
    width: 100px;
    /* filter: var(--main-filter); */
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.399))
}

.nameWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.name, .key {
    font-size: 14px;
    color: var(--main-font-color);
    font-weight: 700;
}

.time, .value {
    color: var(--main-font-color);
    opacity: 0.6;
    font-size: 12px;
}

.item {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--main-border-color);
}

.key {
    font-size: 12px;
    color: var(--main-font-color);
}

.value {
    font-size: 12px;
    margin-left: auto;
}