.localMenuWrapper {
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
}

.localMenu {
    display: flex;
    justify-content: center;
    user-select: none;
}

.menuItems {
    display: flex;
    grid-gap: 25px;
}

.item {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-paragraph-color);
    cursor: pointer;
    transition: 0.25s ease;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}

.item:hover {
    border-bottom: 3px solid var(--main-paragraph-color);
}

.item[id="active"] {
    color: var(--main-font-color);
    border-bottom: 3px solid var(--main-font-color);
}

.item[id="active"]:hover {
    border-bottom: 3px solid var(--main-font-color);
}

.right {
    margin-left: auto;
}

.wrapper {
    width: 100%;
}

@media (max-width: 1300px) {
    .menuItems {
        width: 90%;
        margin-right: 0%;
    }
}

@media (max-width: 950px) {
    .menuItems {
        width: 95%;
        margin-right: 0%;
    }
}