.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--main-gap);
}

.wrapper[state="one"] {
    grid-template-columns: 1.3fr 1fr;
}

.wrapper img {
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: pointer;
    object-fit: cover;
}

.left {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: var(--main-gap);
}

.right {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: var(--main-gap);
}

.wrapper[state="one"] .right img {
    aspect-ratio: 1.4 / 1;
}