.content {
    height: 100%;
    width: 100%;
    min-height: 100svh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contentWrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.communities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
}

@media (max-width: 1150px) {
    .wrapper {
        width: auto;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}