.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1150px) {
 
    .wrapper {
        width: auto;
        margin-left: 3vw;
        margin-right: 3vw;
    }

}