.content {
    height: 100%;
    width: 100%;
    min-height: 100svh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    /* margin-left: 4vw;
    margin-right: auto; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1150px) {
    .wrapper {
        width: auto;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}