.button {
    flex-shrink: 0;
    width: fit-content;
    padding: 9px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: var(--main-button-background-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: var(--main-button-font-color);
}