.input {
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: transparent;
    color: var(--main-font-color);
}

.placeholder {
    color: var(--main-paragraph-color);
    font-size: 16px;
}