.input {
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid var(--not-transparent-border-color);
    background: transparent;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    color: var(--main-font-color);
}

.input:focus {
    outline: 3px solid var(--main-blue-color);
}

.placeholder {
    color: var(--main-paragraph-color);
    font-size: 16px;
}