.wrapper {
    height: auto;
    width: fit-content;
    border-radius: 21px;
    max-width: 348px;
    flex-wrap: wrap;
    z-index: 99999999999999999999999;
    grid-gap: 4px;
    backdrop-filter: var(--main-blur-effect);
    background: var(--main-create-background-color);
    padding: 2px;
    user-select: none;
    transition: 0.25s ease;
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: scale(80%);
}

.wrapper[id="open"] {
    opacity: 1;
    visibility: visible;
    display: flex;
    transform: scale(100%);
}

.item {
    height: 110px;
    width: 110px;
    background: var(--main-create-accent-color);
    z-index: 999;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 17px;
    position: relative;
    grid-gap: 12px;
    flex-direction: column;
}

.item input {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

.item img {
    height: 35%;
    width: 35%;
    object-fit: contain;
    opacity: 0.7;
}

.item span {
    font-size: 13px;
    font-weight: 400;
    color: var(--main-font-color);
    opacity: 0.6;
}

.item:hover {
    z-index: 999;
    border-radius: 20px;
    opacity: 0.9;
    cursor: pointer;
    transform: scale(96%);
}

.item:active {
    transform: scale(92%);
}

@keyframes board {
    0% {
        opacity: 0;
        transform: translateX(-52%) scale(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(-52%) scale(100%);
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 230px;
    }
}