.openAccessWrapper {
    height: 430px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid var(--main-border-color);
    padding-bottom: 10px;
}