.subSystemLogo {
    display: flex;
    align-items: center;
    user-select: none;
}

.subSystemLogo img {
    height: 28px;
    width: 28px;
    filter: var(--main-filter);
    margin-right: 2px;
    object-fit: contain;
}

.subSystemLogo span {
    font-size: 21px;
    color: var(--main-font-color);
    font-weight: 600;
}

.subSystemLogo span:last-child {
    color: var(--main-paragraph-color);
    font-weight: 500;
}