:root {
    --main-background-color: #f5f5f7;
    --main-border-color: rgba(0, 0, 0, 0.15);
    --main-accent-color: #fff;
    --main-font-color: #000;
    --main-header-font-color: #c2c2c2;
    --main-header-background-color: #ffffffce;
    --main-blue-color: #2DA7FF;
    --main-red-color: rgb(255, 44, 44);
    --main-accent-font-color: white;
    --main-paragraph-color: #777;
    --main-button-background-color: black;
    --main-filter: invert(0%);
    --main-button-font-color: white;
    --main-pop-up-color: #fff;
    --main-header-font-color: #888;
    --sub-background-color: #f5f5f7;
    --sub-accent-background: #fff;
    --sub-accent-color: black;
    --sub-filter: invert(100%);
    --button-disabled-backgound: #eee;
    --button-active-backgound: #000000;
    --button-loading-backgound: #000000;
    --button-disabled-text-color: #ffffff;
    --button-active-text-color: #ffffff;
    --button-loading-text-color: #ffffff;
    --button-loader-color: rgb(255, 255, 255);
    --main-blur-effect: blur(10px) saturate(50%);
    --color-scheme: light;
    --pop-up-accent-color: rgba(0, 0, 0, 0.1);
    --input-background: rgba(0, 0, 0, 0.05);
    --input-placeholder: #fffff6;
    --input-border: #777780;
    --main-shadow: rgba(0, 0, 0, 0.237);

    --main-button-background-color: black;
    --main-button-font-color: white;

    --main-create-background-color: rgba(0, 0, 0, 0.05);
    --main-create-accent-color: rgba(255, 255, 255, 0.5);

    --search-border-color: rgba(0, 0, 0, 0.15);
    --search-font-color: #bebebe;

    --not-transparent-border-color: rgb(222, 222, 222);

    --publication-background-color: #0f0f0f;
    --item-accent-color: #f3f3f3;
    --item-accent-hover-color: #f3f3f3;
}

.dark-mode {
    --main-background-color: #000;
    --main-border-color: rgba(255, 255, 255, 0.15);
    --main-accent-color: #1e2021; /* 212125 2c2c2c 1e2021 */
    --main-font-color: #ffffff;
    --main-header-font-color: #161616;
    --main-header-background-color: #000000ce;
    --main-blue-color: #2DA7FF;
    --main-red-color: rgb(255, 44, 44);
    --main-accent-font-color: white;
    --main-paragraph-color: #cdcdcd; /* 797979 cdcdcd */
    --main-button-background-color: rgb(255, 255, 255);
    --main-filter: invert(100%);
    --main-button-font-color: rgb(0, 0, 0);
    --main-pop-up-color: #fff;
    --main-header-font-color: #555;
    --sub-background-color: #000000;
    --sub-accent-color: rgb(255, 255, 255);
    --sub-accent-background: #0e0f0f;
    --sub-filter: invert(0%);
    --button-disabled-backgound: #161616;
    --button-active-backgound: #ccc;
    --button-loading-backgound: #000000;
    --button-disabled-text-color: #ffffff;
    --button-active-text-color: #ffffff;
    --button-loading-text-color: #ffffff;
    --button-loader-color: rgb(255, 255, 255);
    --main-blur-effect: blur(10px) saturate(50%);
    --color-scheme: dark;
    --pop-up-accent-color: #292b2d;
    --input-background: rgba(255, 255, 255, 0.05);
    --input-placeholder: #9e9ea5;
    --input-border: #777780;
    --main-shadow: rgba(0, 0, 0, 0.5);

    --main-button-background-color: white;
    --main-button-font-color: black;

    --main-create-background-color: rgba(0, 0, 0, 0.65);
    --main-create-accent-color: rgba(255, 255, 255, 0.3);

    --search-border-color: rgba(255, 255, 255, 0.3);
    --search-font-color: #777777;

    --not-transparent-border-color: #282828;

    --item-background-color: #121314;
    --item-accent-color: #1E2021;
    --item-accent-hover-color: #343537;

    --background-accent-color: #151618;

    --blue-200: #137CC6;
    --blue-300: #1483D3;

    --account-message-accent-color: #2c9bec;
    --message-accent-color: black;
}

.cloud-wrapper {
    --disconnected-height: 15px;
}