* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --main-content-width: 36vw;
    --mobile-header-height: 55px;
    --mobile-bottom-panel-height: 50px;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background: var(--main-background-color);
}

body {
    --main-border-radius: 15px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.cloud-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    background: var(--main-background-color);
}

.cloud-content-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
}

.mobile-header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 13px;
    justify-content: space-between;
}

.service-name {
    display: flex;
    align-items: center;
}

.service-name h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 600;
    margin-left: 5px;
    color: var(--main-font-color);
}

.service-name h2 {
    font-weight: 500;
    font-size: 23px;
    color: var(--main-paragraph-color);
}

.service-name img {
    height: 28px;
    filter: var(--main-filter);
}

.drop {
    background: var(--main-font-color);
    border-radius: 50%;
    animation: drop 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes drop {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .cloud-wrapper {
        display: grid;
        grid-template-rows: var(--mobile-header-height) auto var(--mobile-bottom-panel-height);
    }

    .cloud-wrapper[nocontrols="true"] {
        display: grid;
        grid-template-rows: auto;
    }
}