.avatar {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.profileLink {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.application {
    font-size: 24px;
}