.scale {
    height: 45px;
    width: 250px;
    background: rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    border-radius: 30px;
    backdrop-filter: var(--main-blur-effect);
}