.link {
    display: flex;
    grid-gap: 5px;
    align-items: center;
}

.icon {
    height: 13px;
    filter: var(--main-header-link-icon-filter);
    opacity: 0.5;
}

.name {
    font-size: 13px;
    color: #777;
    cursor: pointer;
}
