.menuWrapper {
    position: fixed;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 13px;
    padding: 4px;
    background: var(--main-accent-color);
    z-index: 9999;
}

.menu {
    height: auto;
    display: flex;
    grid-gap: 40px;
    left: 0;
    position: relative;
    z-index: 9999;
    padding: 6px 15px;
    align-items: center;
}

.button {
    user-select: none;
    cursor: pointer;
    transition: 0.25s ease;
    text-wrap: nowrap;
}

.button a {
    font-weight: 500;
    font-size: 16px;
    width: 120px;
    color: var(--main-paragraph-color);
    border-radius: 10px;
    transition: 0.25s ease;
}

.button[id="active"] a {
    color: var(--main-font-color);
}

.pointer {
    height: 100%;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: invert(100%);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
}