.ligth-color-mode {
    --main-background-color: #ffffffff;
    --main-font-color: #000;
    --main-header-link-icon-filter: invert(0%);
    --header-icon-filter: invert(0%);
    --main-scrollbar-filter: invert(0%);
    --main-scrollbar-background-color: #eee;
}

.dark-color-mode {
    --main-background-color: rgb(0, 0, 0);
    --main-font-color: #fff;
    --main-header-link-icon-filter: invert(50%);
    --header-icon-filter: invert(100%);
    --main-scrollbar-background-color: #222;
}
