.light-color-mode {
    --accounts-main-background-color: #fff;
    --accounts-main-font-color: #000;
    --accounts-main-header-link-icon-filter: invert(0%);
    --accounts-header-icon-filter: invert(0%);
    --accounts-main-scrollbar-filter: invert(0%);
    --accounts-main-scrollbar-background-color: #eee;
    --accounts-main-header-color: #ffffff7f;
    --accounts-main-border-color: #e4e4e4;
    --accounts-main-accent-color: #f3f3f3;
    --accounts-paragraph-text-color: #777;
    --accounts-placeholder-color: #ddd;
    --accounts-line-desc-color: #ddd;
    --accounts-h1-accent-color: -webkit-linear-gradient(45deg, #ff5bff, #3127f7);
    --accounts-h1-accent-color-g: linear-gradient(45deg, #ffa7fb, #1430fb, #a5b6fc);
    --accounts-button-disabled-backgound: #eee;
    --accounts-button-active-backgound: #000000;
    --accounts-button-loading-backgound: #000000;
    --accounts-button-disabled-text-color: #ffffff;
    --accounts-button-active-text-color: #ffffff;
    --accounts-button-loading-text-color: #ffffff;
    --accounts-button-loader-color: rgb(255, 255, 255);
    --accounts-footer-background: #ebf1f7c2;
    --accounts-select-border: #e4e5f3ce;
    --accounts-error-alert-background: rgba(0, 0, 0, 0.6);
    --accounts-error-alert-font-color: white;
    --accounts-notification-color: #edf3f7;
    --accounts-close-button-invert: invert(80%);
    --accounts-password-visibility: invert(0%);
    --accounts-main-footer-color: #ddd;
    --accounts-main-footer-font-color: #b2b4be;
    --accounts-back-button-font-color: #ddd;
    --accounts-color-scheme: light;
}

.dark-color-mode {
    --accounts-main-background-color: rgb(0, 0, 0);
    --accounts-main-font-color: #eee;
    --accounts-main-header-link-icon-filter: invert(100%);
    --accounts-header-icon-filter: invert(100%);
    --accounts-main-header-color: #1f1f1fc9;
    --accounts-main-border-color: #3b3b3b;
    --accounts-paragraph-text-color: #a9a9a9;
    --accounts-placeholder-color: #aaa;
    --accounts-line-desc-color: #656565;
    --accounts-h1-accent-color: -webkit-linear-gradient(45deg, #ffffff, #ffffff);
    --accounts-h1-accent-color-g: linear-gradient(45deg, #ffffff, #ffffff, #ffffff);
    --accounts-button-disabled-backgound: #242424;
    --accounts-button-active-backgound: #ffffff;
    --accounts-button-loading-backgound: #ffffff;
    --accounts-button-disabled-text-color: #404040;
    --accounts-button-active-text-color: #000000;
    --accounts-button-loading-text-color: #000000;
    --accounts-button-loader-color: black;
    --accounts-footer-background: #1f1f1fc9;
    --accounts-select-border: #9e9ea5ce;
    --accounts-error-alert-background: rgba(255, 255, 255, 0.6);
    --accounts-error-alert-font-color: black;
    --accounts-notification-color: #b5b9bb;
    --accounts-close-button-invert: invert(50%);
    --accounts-password-visibility: invert(100%);
    --accounts-main-footer-color: #ddd;
    --accounts-main-footer-font-color: #7c7c7c;
    --accounts-back-button-font-color: #3b3b3b;
    --accounts-color-scheme: dark;
}
