* {
    margin: 0;
    padding: 0;
    /* min-height: 100%; */
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

#root {
    overflow: hidden;
    font-family: 'Open Sans';
    position: relative;
    background: var(--accounts-main-background-color);
    color-scheme: var(--accounts-color-scheme);
    -webkit-overflow-scrolling:touch;
    transition: 0.25s ease;
}