/* * {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*/
/* body {
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.25s ease;
}
*/ 
#root {

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px auto 60px;

} 