.home {
    height: 100svh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--main-background-color);
    top: 60px;
    left: 0;
    position: sticky;
}

.content {
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
}