.chatPreview {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    grid-gap: 10px;
    cursor: pointer;
}

.chatPreview:hover {
    background: var(--main-accent-color);
}

.information {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: var(--main-border-color);
    flex-shrink: 0;
    overflow: hidden
}

.avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0px;
}

.name {
    font-weight: 500;
    font-size: 15px;
    color: var(--main-font-color);
}

.lastMessage {
    font-weight: 400;
    font-size: 15px;
    color: var(--main-paragraph-color);
}

.status {
    height: 100%;
    font-size: 14px;
    color: var(--main-paragraph-color);
}