.chatPreview {
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    border-radius: 10px;
    padding-bottom: 7px;
    grid-gap: 10px;
    cursor: pointer;
}

.chatPreview[id="active"] {
    background: var(--main-accent-color);
}

.chatPreview:hover {
    background: var(--main-accent-color);
}

.information {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: var(--main-border-color);
    flex-shrink: 0;
    overflow: hidden;
}

.avatar[id="placeholder"] {
    animation: placeholder 2s ease infinite;
}

.avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    color: var(--main-font-color);
}

.name[id="placeholder"] {
    height: 12px;
    width: 70px;
    border-radius: 7px;
    animation: placeholder 2s ease infinite;
}

.lastMessage {
    font-weight: 400;
    font-size: 14px;
    color: var(--main-paragraph-color);
    max-width: 9ic;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.lastMessage[id="placeholder"] {
    height: 12px;
    width: 150px;
    border-radius: 7px;
    margin-top: 5px;
    animation: placeholder 2s ease infinite;
}

.status {
    height: 100%;
    font-size: 13px;
    color: var(--main-paragraph-color);
}

@keyframes placeholder {
    0% {
        background: #ddd;
    }
    50% {
        background: #777;
    }
    100% {
        background: #ddd;
    }
}