.date {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-font-color);
}

.padding {
    padding: 10px;
}

.down {
    top: 130px;
    left: 0;
    width: 100%;
    position: sticky;
    padding-bottom: 15px;
    backdrop-filter: blur(20px);
    background: var(--main-background-color);
    z-index: 1;
}

.currentDate {
    display: flex;
    flex-direction: column;
}

.date {
    font-weight: 600;
    font-size: 18px;
    color: var(--main-font-color);
}

.location {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-paragraph-color);
}

/* =========================================== */

.placeholder {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .down {
        top: 0;
        position: sticky;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        display: none;
    }
}