.button {
    border: none;
    background: #1f80ff;
    background: black;
    color: white;
    border-radius: 50px;
    padding: 8px 40px;
    font-size: 15px;
    margin-top: 40px;
    font-weight: 600;
    transition: 0.15s ease;
    user-select: none;
}

    .button:disabled {
        background: #ddd;
        cursor: not-allowed;
    }

        .button:disabled:hover {
            transform: none;
            background: #ddd;
        }

    .button:hover {
        transform: scale(102%);
        background: black;
    }

.button:active {
    transform: scale(97%);
}