.wrapper {
    top: 40px;
    right: -100px;
    position: absolute;
    width: 450px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.control {
    height: auto;
    background: var(--main-accent-color);
    width: 100%;
    border-radius: 25px;
    padding: 15px;
}

.songs {
    height: 250px;
    width: 100%;
    background: var(--main-accent-color);
    border-radius: 25px;
}

.songCover {
    height: 60px;
    width: 60px;
    border-radius: 7px;
    background: var(--main-font-color);
}

.top {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.information {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-font-color);
}

.artist {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-paragraph-color);
}

.bottom {
    margin-top: 10px;
}

.range {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-font-color);
}

.controlButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.left {

}

.center {
    display: flex;
    grid-gap: 30px;
}

.center img:nth-child(1) {
    transform: rotate(180deg);
}

.right {

}

.button {
    height: 18px;
    width: auto;
    filter: var(--main-filter);
    cursor: pointer;
}