.miniProfile {
    height: auto;
    width: auto;
    padding: 15px 0;
    margin: 0px 5px;
    display: flex;
    grid-gap: 15px;
    align-items: center;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.miniProfile h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--main-font-color);
    font-weight: 800;
}

.miniProfile span {
    margin: 0;
    padding: 0; 
    font-size: 12px;
    color: var(--main-paragraph-color);
}

@media (max-width: 700px) {
    .avatar {
        height: 120px;
        width: 120px;
    }

    .miniProfile {
        padding: 25px 0px;
        grid-gap: 25px;
    }

    .miniProfile h1 {
        margin: 0;
        padding: 0;
        font-size: 21px;
        color: var(--main-font-color);
        font-weight: 700;
    }

    .miniProfile span {
        font-size: 14px;
    }

}