.search {
    display: flex;
    background: var(--pop-up-accent-color);
    border: 1px solid rgba(255, 255, 255, 0.05);
    align-items: center;
    border-radius: 17px;
    overflow: hidden;
    grid-gap: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 14px;
    margin-right: 14px;
}

.search img {
    height: 16px;
    width: 16px;
    filter: var(--main-filter);
    opacity: 0.4;
    margin-left: 12.5px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background: none;
}

.search input::placeholder {
    color: var(--main-font-color);
    opacity: 0.4;
}