.wrapper {
    border-radius: 0px;
    transition: 0.25s ease;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    grid-gap: 10px;
    cursor: pointer;
    transition: 0.25s ease;
    position: relative;
}

.wrapper[id="selected"] .content {
    outline: 2px solid var(--main-font-color);
    outline-offset: 4px;
}

.wrapper:hover .description {
    opacity: 1;
}

.content {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.content[id="loading"] {
    animation: folderAnimation 2s ease infinite;
    cursor: not-allowed;
}

.content[id="placeholder"] {
    background: var(--pop-up-accent-color);
}

.content:active {
    transform: scale(98%);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    transition: 0.5s ease;
    white-space: nowrap;
    text-wrap: nowrap;
}

.name {
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    color: var(--main-font-color);
    width: 100%;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    text-wrap: nowrap;
}

.nameWrapper {
    display: flex;
    align-items: center;
    grid-gap: 3px; 
    justify-content: center;
    max-width: 80%;
}

.folderType {
    height: 8px;
    width: 8px;
    margin-top: 1px;
    justify-self: end;
    filter: var(--main-filter);
}

.time {
    font-size: 11px;
    color: var(--main-paragraph-color);
}

.file {
    height: 100%;
    width: 100%;
    background: var(--pop-up-accent-color);
    color: var(--main-blue-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
}

.filePreview {
    height: 100%;
    width: 100%;
    background: var(--main-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filePreview img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes folderAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.4;
    }
}