.menu {
    height: auto;
    display: flex;
    grid-gap: 30px;
    left: 0;
    z-index: 9999;
}

.button {
    user-select: none;
    cursor: pointer;
}

.button a {
    font-weight: 700;
    font-size: 17px;
    color: var(--main-paragraph-color);
    padding-bottom: 10px;
}

.button[id="active"] a {
    color: var(--main-font-color);
    border-bottom: 3px solid var(--main-font-color);
}