.input-container {
    width: 550px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: 'Open Sans';
}

    .input-container input {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 13px;
        border-radius: 10px;
        color: var(--main-font-color);
        border: 2px solid var(--main-border-color);
        background: transparent;
        transition: 0.1s ease;
        font-family: 'Open Sans';
    }

  .input-container input:focus {
    outline: none;
    border-radius: 10px;
    border: 2px solid #1976D2;
  }

  .input-container input:focus ~ label,
  .input-container input:valid ~ label {
    transform: translateY(-22px);
    font-size: 13px;
    background: var(--main-background-color);
    padding: 0px 5px;
  }

  .input-container input:focus ~ label {
    color: #1976D2;
  }

  .input-container label {
    position: absolute;
    top: 14px;
    left: 15px;
    pointer-events: none;
    transition: 0.15s;
    color: var(--placeholder-color);
  }
