.wrapper {
    display: flex;
    grid-gap: 10px;
    flex-shrink: 1;
}

.point {
    height: 6px;
    width: 6px;
    background-color: var(--main-font-color);
    border-radius: 100%;
    flex-shrink: 1;
    opacity: 1;
    animation: bounce 0.4s infinite alternate;
}

.point:nth-child(2) {
    animation-delay: 0.1s;
}

.point:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    to {
        transform: translateY(-15px) scale(125%);
        opacity: 0.5;
    }
}