.wrapper {
    height: 100svh;
    width: 100vw;
    background: rgba(35, 35, 35, 0.95);
    z-index: 999999999;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    backdrop-filter: var(--main-blur-effect);
    animation: open 0.5s ease;
}

.preview {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file {
    max-width: 650px;
    background: white;
}

.loader {
    height: 50px;
    width: 50px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid transparent;
    border-radius: 100%;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    animation: loader 1.25s ease infinite;
}
/* 
@keyframes loader {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid white;
        filter: blur(1px);
    }
    16% {
        opacity: 0.7;
        border-top: 4px solid transparent;
        border-bottom: 4px solid white;
        border-left: 4px solid white;
        border-right: 4px solid transparent;
    }
    32% {
        opacity: 0.7;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid white;
    }
    50% {
        opacity: 0.7;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
    66% {
        transform: rotate(0deg);
        opacity: 0.5;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid white;
    }
    82% {
        opacity: 0.7;
        border-bottom: 4px solid white;
        border-left: 4px solid white;
        border-right: 4px solid transparent;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.7;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid white;
    }
} */
/* 
@keyframes loader {
    0% {
        transform: rotate(0deg);
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    16% {
        border-top: 4px solid transparent;
        border-bottom: 4px solid white;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    32% {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
        border-right: 4px solid transparent;
    }
    50% {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid white;
    }
    66% {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
        border-right: 4px solid transparent;
    }
    82% {
        border-top: 4px solid transparent;
        border-bottom: 4px solid white;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.7;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
} */


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(95%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}