.search {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    grid-gap: 4px;
    border-radius: 11px;
    background: var(--pop-up-accent-color);
}

.searchField {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    background: none;
    font-weight: 400;
    color: var(--main-font-color);
}

.searchField::placeholder {
    color: var(--main-paragraph-color);
}

.image {
    height: 13px;
    width: 13px;
    object-fit: contain;
    filter: var(--main-filter);
    opacity: 0.4;
}