.message {
    display: flex;
    grid-gap: 10px;
    image-rendering: pixelated;
    height: fit-content;
    align-items: end;
}

.avatar {
    height: 31px;
    width: 31px;
    background: var(--main-accent-color);
    border-radius: 100%;
    object-fit: contain;
    margin-bottom: 3px;
    user-select: none;
}

.avatarPlaceholder {
    height: 31px;
    width: 31px;
}

.name {
    font-size: 16px;
    color: var(--main-font-color);
    margin-top: 0px;
}

.text {
    font-size: 0.95em;
}

.messageContent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background: var(--pop-up-accent-color);
}

.messageText {
    height: fit-content;
    width: auto;
    padding: 7px 11px;
    display: flex;
    height: fit-content;
    max-width: 500px;
    font-weight: 500;
    color: var(--main-font-color);
}

.message[id="selected"] .messageContent {
    /* filter: brightness(150%); */
    /* outline: 1px solid var(--main-font-color);
    outline-offset: -1px; */
}

.messageContent[id="My"] {
    background: var(--main-blue-color);
    color: white;
}

.first {
    border-radius: 25px 25px 25px 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.middle {
    border-radius: 5px 25px 25px 5px;
    margin: 0px;
}

.last {
    border-radius: 5px 25px 25px 25px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.information {
    display: flex;
    align-items: end;
    margin-left: auto;
    user-select: none;
}

.textParts {
    display: flex;
    flex-direction: column;
}

.time {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    margin-left: 7px;
    text-wrap: nowrap;
    margin-top: auto;
    user-select: none;
}

.messageState {
    height: 11px;
    /* width: 12px; */
    filter: var(--main-filter);
    opacity: 0.8;
    margin-bottom: 2px;
    margin-left: 3px;
    object-fit: contain;
}