.header {
    width: 100%;
    height: 65px;
    padding-left: 17px;
    padding-right: 17px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--main-border-color);
    background: var(--background-accent-color);
    backdrop-filter: var(--main-blur-effect);
    display: flex;
    flex-shrink: 0;
    z-index: 1;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.name {
    font-weight: 700;
    font-size: 14px;
    color: var(--main-font-color);
}

.left {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
}

.data {
    font-size: 12px;
    color: var(--main-paragraph-color);
    user-select: none;
}

.right {
    display: flex;
}

.buttonImage {
    height: 25px;
    width: 25px;
    cursor: pointer;
    object-fit: contain;
    opacity: 0.5;
    filter: var(--main-filter);
}

.buttonImage:hover {
    opacity: 0.8;
}

.buttonImage:active {
    opacity: 1;
}

.back {
    width: 25px;
    filter: var(--main-filter);
}

@media (max-width: 700px) {
    .header {
        background: none;
    }
}