.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3px;
}

.photo {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--main-accent-color);
    cursor: pointer;
}

.photo:hover {
    filter: brightness(50%);
}

.photo:active {
    filter: brightness(40%);
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}