.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 2px;
}

.photo {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--main-accent-color);
    cursor: pointer;
    transition: 0.15s ease;
}

.photo:hover {
    filter: brightness(70%);
    transform: scale(98%);
}

.photo:active {
    filter: brightness(60%);
    transform: scale(96%);
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .photos {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}

@media (max-width: 500px) {
    .photos {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}