.statisticButton {
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    color: var(--main-font-color);
    display: flex;
    grid-gap: 6px;
    align-items: center;
    cursor: pointer;
    padding: 10px 0px;
    user-select: none;
    font-size: 13px;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.15s ease;
    opacity: 0.7;
}

.statisticButton:hover {
    opacity: 1;
    /* background: var(--main-accent-color); */
}

.statisticButton:active {
    opacity: 1;
    /* background: var(--pop-up-accent-color); */
}

.statisticButton img {
    height: 19px;
    width: 19px;
    object-fit: contain;
    filter: var(--main-filter);
    flex-shrink: 0;
    transition: 0.1s ease;
}

.statisticButton:active img {
    transform: scale(90%);
}

.statisticButton[id="default"] { 
    opacity: 1;
}

.statisticButton[id="default"] img { 
    filter: none;
}