.album {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 2px;
}

.header {
    display: flex;
    width: 1000px;
    margin-right: 250px;
}

.cover {
    height: 100%;
    width: 300px;
    aspect-ratio: 1.6 / 1;
    border-radius: 10px;
    margin-top: 15px;
    object-fit: cover;
}

.information {
    display: flex;
    grid-gap: 20px;
}

.addition {
    margin-left: auto;
    display: flex;
    align-items: first baseline;
    align-items: start;
    justify-content: end;
    grid-gap: 10px;
    margin-bottom: auto;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.nameWrapper {
    display: flex;
    flex-direction: column;
}

.albumName {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
}

.descritpion {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.albumDate {
    font-size: 16px;
    color: var(--main-paragraph-color);
}

.albumPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.noImages {
    height: calc(100svh - 250px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 4px;
    /* padding-left: 30px; */
}

.photo img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background: var(--main-accent-color);
    object-fit: cover;
}

.people {
    display: flex;
    grid-gap: 7px;
}

.content {
    width: 1000px;
    margin-right: 250px;
}

.avatarPlaceholder {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    animation: preview 2s ease infinite;
}

@keyframes preview {
    0% {
        background: #bbb;
    }
    
    50% {
        background: #555;
    }

    100% {
        background: #bbb;
    }
}