.settingBar {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    user-select: none;
}

.settingDescriptionWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.settingTitle {
    font-size: 16px;
}

.settingDescription {
    color: var(--main-paragraph-color);
    font-weight: 400;
    font-size: 13px;
}

.avatarWrapper {
    height: 65px;
    width: 65px;
    background: var(--main-accent-color);
    border-radius: 100%;
}

.avatar {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    object-fit: cover;
}

.newLinkWrapper {
    opacity: 0.5;
    cursor: pointer !important;
    transition: 0.15s ease;
}

.newLinkWrapper:hover {
    opacity: 0.7;
}

.newLinkWrapper:active {
    opacity: 0.8;
}

.links {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}