.left-panel {

    height: 100vh;
    width: 270px;
    user-select: none;
    border-right: 1px solid var(--main-border-color);
    display: flex;
    flex-direction: column;

}

.left-panel-logo img {

    height: 70px;
    width: 70px;

}

.mobile-navigation-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid var(--main-border-color);
}

.mobile-header {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
}