.left-panel {
    height: 100vh;
    width: 270px;
    user-select: none;
    /* border-right: 1px solid var(--main-border-color); */
    display: flex;
    flex-direction: column;
}

.left-panel[id="rolled-up"] {
    width: 72px;
    display: flex;
    align-items: center;
}

.left-panel[id="rolled-up"] nav {
    display: none;
}

.left-panel[id="rolled-up"] {
    width: 72px;
    display: flex;
    align-items: center;
}

.left-panel[id="rolled-up"] .progress-bar-wrapper {
    height: 100%;
}

.left-panel[id="rolled-up"]  .progress-bar {
    height: 70%;
    width: 4px;
}

.left-panel[id="rolled-up"] .line {
    height: var(--space-occupied);
    margin-top: auto;
    width: 100%;
}

.left-panel[id="rolled-up"] .navigation-button nav {
    display: none;
}

.left-panel-logo img {
    height: 70px;
    width: 70px;
    filter: var(--main-filter);
}

.mobile-navigation-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid var(--main-border-color);
}

.mobile-header {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 2vw;
    align-items: center;
}