@media (max-width: 1350px) {
    
    .left-panel {
        width: 72px;
        display: flex;
        align-items: center;
    }

    .progress-bar-wrapper {
        height: 100%;
    }

    .progress-bar {
        height: 70%;
        width: 4px;
    }

    .line {
        height: var(--space-occupied);
        margin-top: auto;
        width: 100%;
    }

    .navigation-button:active {
        transform: scale(90%);
    }

    .navigation-button nav {
        display: none;
    }

}