@media (max-width: 1350px) {
    
    .left-panel {

        width: 81px;

    }

    .progress-bar {

        height: calc(70% - 40px);
        width: 4px;
        margin-bottom: 40px;

    }

    .line {

        width: 4px;
        height: var(--space-occupied);
        margin-top: auto;

    }

    .navigation-button:hover {
        
        transform: scale(102%);

    }

    .navigation-button:active {
        
        transform: scale(95%);

    }

    .navigation-button nav {

        display: none;

    }

}