.progress-bar-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-left: 17px;
    padding-right: 17px;
    align-items: center;
    padding-bottom: 15%;
}

.progress-bar {
    width: 100%;
}

.line {
    height: 100%;
    width: var(--space-occupied);
    background: var(--sub-accent-color);
    border-radius: 30px;
}