.imageWrapper {
    height: 500px;
    width: 800px;
    /* position: relative; */
    border-bottom: 1px solid var(--main-border-color);
    background: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    --height: 300px;
    --width: 300px;
    --top: 20px;
    --left: 20px;
}

.imageShape {
    position: relative;
    display: grid;
    user-select: none;
    border-radius: 10px;
}

.imageShape[id="height"] .image {
    height: 450px;
    width: auto;
}

.imageShape[id="width"] .image {
    height: auto;
    width: 500px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.buttons {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.navigation {
    display: flex;
    grid-gap: 10px;
}

.crop {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    grid-template-rows: var(--top) var(--height) auto;
}
.middle {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--left) var(--width) auto;
}

.top, .left, .bottom, .right {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
}

.workspace {
    height: var(--height);
    width: var(--width);
    position: relative;
    z-index: 99999999999999999999999999;
    border: 2px solid var(--main-blue-color);
    /* transition: 0.25s ease; */
}

.dragAndDropPoint {
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    border: 2px solid var(--main-blue-color);
    border-radius: 100%;
    z-index: 9999999999999999;
}

.dragAndDropPoint:nth-child(1) {
    top: 0;
    left: 0;
    cursor: nwse-resize;
    transform: translateX(-15px) translateY(-15px);
}


.dragAndDropPoint:nth-child(2) {
    top: 0;
    right: 0;
    cursor: nesw-resize;
    transform: translateX(15px) translateY(-15px);
}


.dragAndDropPoint:nth-child(3) {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
    transform: translateX(-15px) translateY(15px);
}


.dragAndDropPoint:nth-child(4) {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    transform: translateX(15px) translateY(15px);
}

.circle {
    height: calc(var(--height) - 45px);
    width: calc(var(--width) - 45px);
    top: 20px;
    position: absolute;
    left: 20px;
    opacity: 1;
    cursor: grab;
}