.wrapper {
    background: var(--item-accent-color);
    border-radius: 13px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border: 1px solid transparent;
    transition: 0.15s ease;
    user-select: none;
}

.wrapper[accent="true"] {
    background: var(--main-blue-color);
    color: white;
}

.wrapper[popup="true"] {
    background: var(--pop-up-accent-color);
}

@media (max-width: 700px) {
    .wrapper[fullsize="true"] {
        width: 100%;
    }
}