.wrapper {
    /* padding: 8px 12px; */
    background: var(--item-accent-color);
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border: 1px solid transparent;
    transition: 0.15s ease;
}

/* .wrapper:hover {
    border: 1px solid var(--main-border-color);
}

.wrapper:active {
    border: 1px solid transparent;
} */