.search {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    user-select: none;
}

.input {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.icon {
    height: 16px;
    width: 16px;
    filter: var(--main-filter);
    opacity: 0.6;
}