.headerWrapper {
    height: 60px;
    width: auto;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(50%);
    z-index: 99999;
}

.header {
    height: 60px;
    width: auto;
    position: sticky;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding: 0px 5px;
    display: flex;
    /* background: var(--main-header-background-color); */
    border-bottom: 1px solid var(--main-border-color);
}

.settingName {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.settingName h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
}

.rightButtons {
    height: 100%;
    width: auto;
    display: flex;
    grid-gap: 10px;
    margin-left: auto;
    align-items: center;
}

.rightButtons span {
    font-size: 14px;
    color: var(--main-paragraph-color);
    cursor: pointer;
}

  @keyframes button-loader-animation {
    0% {
      opacity: 1;
    }
    
    100% {
      opacity: 0;
    }
  }

@media (max-width: 1000px) {
    .header {
        width: auto;
        padding: 0px 2vw;
    }
}