.fileInformation {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    padding: 20px;
    grid-gap: 20px;
    overflow: visible;
}

.fileInformation h1 {
    font-size: 16px;
}

/* .preview {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: red;
    /* flex-shrink: 0; */

.preview img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-position: 0% 0%;
    object-fit: cover;
}

.list {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}