.google-oauth {

    padding: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.15s ease;

}

    .google-oauth:hover {
        transform: scale(101%);
    }

    .google-oauth:active {
        transition: 0.3s ease;
        transform: scale(95%);
    }

.google-logo {
    image-rendering: -webkit-optimize-contrast;
    height: 25px;
}

.google-auth-text {

    margin: 0px 10px 0px 10px;
    color: var(--paragraph-text-color);

}
