.google-oauth {

    padding: 10px;
    border: 1px solid #eee;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.15s ease;

}

    .google-oauth:hover {
        padding: 12px;
    }

    .google-oauth:active {
        padding: 8px;
        transition: 0.3s ease;
    }

.google-logo {
    image-rendering: -webkit-optimize-contrast;
    height: 25px;
}

.google-auth-text {

    margin: 0px 10px 0px 10px;
    color: #ccc;

}
