.button {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: var(--main-font-color);
    align-items: center;
    user-select: none;
    font-size: 17px;
    font-weight: 500;
}

.left {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.image {
    height: 24px;
    filter: var(--main-filter);
}

.arrow {
    height: 20px;
    filter: var(--main-filter);
    opacity: 0.7;
}