.cloudHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    top: 60px;
    left: 0;
    position: sticky;
    z-index: 1;
    background: var(--main-background-color);
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 15px;
}

.title {
    font-size: 22px !important;
    color: var(--main-font-color);
    font-weight: 700;
    display: flex;
    cursor: pointer;
    position: relative;
}

.title img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    filter: var(--main-filter);
}

.pathWrapper {
    display: flex;
    grid-gap: 5px;
}

.pathWrapper img {
    height: 12px;
    width: 12px;
    filter: var(--main-filter);
    opacity: 0.7;
    margin-top: auto;
    margin-bottom: auto;
}

.path {
    font-size: 15px;
    font-weight: 400;
    color: var(--main-paragraph-color);
}

.folder {
    display: flex;
    align-self: center;
    justify-content: center;
    grid-gap: 5px;
}

.buttonBlock {
    display: flex;
    grid-gap: 14px;
    position: relative;
}

.create {
    height: auto;
    width: 460px;
    top: 30px;
    left: calc(50% - 232.5px);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
}

.create[id="open"] {
    opacity: 1;
    visibility: visible;
}

.titleItems {
    max-height: 400px;
    width: fit-content;
    font-size: 20px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    background: var(--main-accent-color);
    overflow-y: scroll;
    position: absolute;
    top: 70px;
    left: 0;
}

.titleItems::-webkit-scrollbar {
    display: none;
}

.titleItems a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 15px;
    cursor: pointer;
    color: var(--main-font-color);
    border-bottom: 1px solid var(--main-border-color);
}

.titleItems a:hover {
    background: var(--pop-up-accent-color);
}

.titleItems a:last-child {
    border-bottom: 0px solid var(--main-border-color);
}

@media (max-width: 700px) {
    .header {
        top: 0px;
        padding-right: 0;
    } 
}