.wrapper {
    height: 100%;
    width: 100%;
    background: var(--sub-accent-background);
    border-radius: 35px;
    cursor: pointer;
    padding: 26px 26px 20px 26px;
    transition: 0.15s ease;
}

.wrapper:hover {
    background: var(--main-accent-color);
}