.wrapper {
    --margins: 7px;
}

.wrapper {
    height: calc(100vh - var(--disconnected-height));
    overflow: hidden;
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: var(--margins);
    width: 100%;
}

.messageGroup {
    grid-gap: 3px;
    display: flex;
    flex-direction: column;
}

.placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.placeholder span {
    color: var(--main-paragraph-color);
}