.album {
    height: 100%;
    width: 100%;
    user-select: none;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.6 / 1;
    border-radius: 15px;
    transition: 0.15s ease;
    outline: 2px solid transparent;
    outline-offset: 3px;
}

.cover[id="selected"] {
    outline: 2px solid var(--main-blue-color);
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-paragraph-color);
    font-size: 12px;
    font-weight: 400;
}

.name {
    font-size: 17px;
    font-weight: 600;
    color: var(--main-font-color);
}