.control {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 10px;
    user-select: none;
    margin-left: var(--width-padding);
    margin-right: var(--width-padding);
    /* border-top: 1px solid var(--main-border-color); */
}

.buttons {
    display: flex;
    grid-gap: 12.5px;
    align-items: center;
}

.button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.button img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    filter: var(--main-filter);
}

.button img:hover {
    opacity: 0.8;
}

.button img:active {
    opacity: 0.6;
}

.statistics {
    display: flex;
    grid-gap: 20px;
    font-size: 15px;
    color: var(--main-font-color);
}

.statistics span {
    font-weight: 500;
    color: var(--main-paragraph-color);
}

.statistics b {
    font-weight: 600;
    color: var(--main-font-color);
}

.statistics span:hover {
    cursor: pointer;
}