.photos {
    padding-bottom: 110px;
    user-select: none;
}

.photos[id="waterfall"] {
    column-count: 6;
    column-gap: 5px;
}

.photos[id="waterfall"] > div {
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    margin-bottom: 5px;
}

.photos[id="waterfall"] img {
    aspect-ratio: auto;
}

.photos[id="grid"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3px;
}

.photos img[id="contain"] {
    padding: 5px;
}

.photos img[id="active"] {
    outline: 4px solid var(--main-blue-color);
}