.photo {
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.image {
    height: 100%;
    width: 100%;
    background: var(--main-accent-color);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 3px;
}