.placeholder {
    height: 15px;
    width: 120px;
    background: var(--main-accent-color);
    animation: var(--loading-animation);
    border-radius: 30px;
}

.data {
    display: flex;
    grid-gap: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.counter {
    display: flex;
    grid-gap: 5px;
}

.counter h2 {
    font-size: 16px;
    color: var(--main-font-color);
}

.counter span {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-font-color);
}

@media (max-width: 700px) {
    .data {
        grid-gap: 15px;
    }

    .counter {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0px;
    }

    .counter h2 {
        font-size: 15px;
    }

    .counter span {
        font-size: 13px;
    }
}