.album {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 20px;
}

.header {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cover {
    height: 100%;
    width: 300px;
    aspect-ratio: 1.4 / 1;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--main-border-color);
}

.cover[id="square"] {
    width: 250px;
    aspect-ratio: 1 / 1;
}

.information {
    display: flex;
    grid-gap: 20px;
}

.addition {
    margin-left: auto;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}

.users {
    display: flex;
    align-items: first baseline;
    align-items: start;
    justify-content: end;
    grid-gap: 12px;
    margin-bottom: auto;
}

.reactions {
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: end;
    height: 100%;
    display: flex;
    grid-gap: 10px;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.nameWrapper {
    display: flex;
    flex-direction: column;
}

.albumName {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
}

.views {
    color: var(--main-font-color);
    font-weight: 700;
}

.descritpion {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.albumDate {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-font-color);
}

.noImages {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 4px;
}

.photo img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background: var(--main-accent-color);
    object-fit: cover;
}

.controlPanel {
    display: flex;
    grid-gap: 7px;
    grid-gap: 20px;
    align-items: center;
}

.subButton {
    height: 25px;
    width: 25px;
    filter: var(--main-filter);
    cursor: pointer;
}

.avatarPlaceholder {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    animation: preview 2s ease infinite;
}

.descriptionWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 5px;
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.content {
    width: 75%;
    margin-right: 8%;
}

@media (max-width: 950px) {
    .header, .content {
        width: 95%;
        margin-right: 0%;
    }

    .albumName {
        max-width: 6ic;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 32px;
    }

    .cover {
        height: 100%;
        width: 270px;
        aspect-ratio: 1.4 / 1;
        border-radius: 10px;
        object-fit: cover;
        border: 1px solid var(--main-border-color);
    }

    .users {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .album {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top: 0px;
    }
}

@keyframes preview {
    0% {
        background: #bbb;
    }
    
    50% {
        background: #555;
    }

    100% {
        background: #bbb;
    }
}