.comment {
    --width-padding: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    border-bottom: 1px solid var(--main-border-color);
}

.comment:last-child {
    border: none;
}

.header {
    display: flex;
    width: 100%;
    grid-gap: 10px;
    padding-left: var(--width-padding);
    padding-right: var(--width-padding);
    padding-top: 10px;
    align-items: center;
}

.nameWrapper {
    display: flex;
    grid-gap: 0px;
    align-self: center;
    flex-direction: column;
}

.nickname {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-font-color);
}

.time {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.information {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.postContent {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-font-color);
    padding-left: var(--width-padding);
    padding-right: var(--width-padding);
}

.avatarPreview {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    flex-shrink: 0;
    animation: preview 2s ease infinite;
}

.namePreview, .textPreview {
    height: 20px;
    border-radius: 5px;
    animation: preview 2s ease infinite;
}

.namePreview {
    width: 100px;
}

.textPreview {
    width: 300px;
}

.right {
    margin-left: auto;
}

.postContent {
    width: 100%;
}

.control {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--main-border-color);
    margin-left: var(--width-padding);
    margin-right: var(--width-padding);
}

.left {
    height: fit-content;
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.border {
    margin-top: auto;
    margin-bottom: auto;
    height: 60%;
    width: 1px;
    background: var(--main-border-color);
}

.attachments {
    width: 100%;
    margin-top: 5px;
    display: flex;
    grid-gap: 4px;
    border-radius: 3px;
    overflow: hidden;
    image-rendering: pixelated;
    border: 1px solid var(--main-border-color);
    cursor: pointer;
}

.buttons {
    display: flex;
    grid-gap: 12.5px;
    align-items: center;
}

.button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.button img {
    height: 22px;
    width: 22px;
    object-fit: contain;
    filter: var(--main-filter);
}

.button img:hover {
    opacity: 0.8;
}

.button img:active {
    opacity: 0.6;
}

.statistics {
    display: flex;
    grid-gap: 15px;
    font-size: 14px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: var(--main-font-color);
}

.statistics span:hover {
    text-decoration: underline;
}

.statistics {
    color: var(--main-font-color);
}

/* ============================================== */

.image {
    height: 100%;
    aspect-ratio: 1.5 / 1;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
}

/* ============================================== */

.attachments[id="view-type-1"] .image {
    height: auto;
    width: 100%;
}

.attachments[id="view-type-1"] image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: contain;
}

/* ============================================== */

.attachments[id="view-type-2"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ============================================== */

.attachments[id="view-type-3"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attachments[id="view-type-3"] .image {
    aspect-ratio: 1.7 / 1;
}

.attachments[id="view-type-3"] .image:first-child {
    grid-row: span 2;
}

/* ============================================== */

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ============================================== */

@keyframes preview {
    0% {
        background: #bbb;
    }
    
    50% {
        background: #555;
    }

    100% {
        background: #bbb;
    }
}

/* ============================================== */