.main {
    height: 100svh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menuWrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    overflow: visible;
    justify-content: center;
}

.mainImage {
    height: 100px;
    width: 100px;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subTitle {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    margin-left: 40px;
    margin-right: 40px;
}

@media (max-width: 720px) {
    .title {
        font-size: 42px;
    }
}

@media (max-width: 620px) {
    .title {
        font-size: 32px;
    }
    .subTitle {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 24px;
    }
    .subTitle {
        font-size: 14px;
    }
}