.wrapper {
    top: 30px;
    left: 50%;
    transform: translateX(-52%) scale(95%);
    height: auto;
    width: auto;
    position: absolute;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 99999999999999999999999;
    grid-gap: 4px;
    backdrop-filter: var(--main-blur-effect);
    background: rgba(0, 0, 0, 0.65);
    padding: 4px;
    user-select: none;
    transition: 0.25s ease;
    opacity: 0;
    visibility: hidden;
}

.wrapper[id="open"] {
    opacity: 1;
    visibility: visible;
    transform: translateX(-52%) scale(100%);
}

.item {
    height: 120px;
    width: 120px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 999;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 17px;
    position: relative;
    grid-gap: 12px;
    flex-direction: column;
}

.item input {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

.item img {
    height: 35%;
    width: 35%;
    object-fit: contain;
    opacity: 0.7;
}

.item span {
    font-size: 13px;
    font-weight: 400;
    color: var(--main-font-color);
    opacity: 0.6;
}

.item:hover {
    z-index: 999;
    border-radius: 20px;
    opacity: 0.9;
    cursor: pointer;
    transform: scale(96%);
}

.item:active {
    transform: scale(92%);
}

@keyframes board {
    0% {
        opacity: 0;
        transform: translateX(-52%) scale(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(-52%) scale(100%);
    }
}