.home {
    height: calc(100vh - var(--disconnected-height));
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.headerWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background: var(--main-background-color);
    top: 60px;
    left: 0;
    position: sticky;
    transition: 0.25s ease;
    z-index: 1;
}

.header {
    height: 41px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border-bottom: 1px solid var(--not-transparent-border-color); */
}

.overlay {
    height: 50px;
    width: 50px;
    top: 27px;
    left: -14px;
    position: absolute;
    border-top-left-radius: 40px;
    border-top: 15px solid var(--main-background-color);
    border-left: 15px solid var(--main-background-color);
}

.circle {
    height: 100%;
    width: 100%;
    top: -5px;
    position: absolute;
    border-top-left-radius: 27px;
    border-top: 1px solid var(--main-background-color);
    border-left: 1px solid var(--main-background-color);
    z-index: 2;
}

.overlay:last-child {
    left: auto;
    right: -14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-left: 1px solid transparent;
    border-top: 15px solid var(--main-background-color);
    border-right: 15px solid var(--main-background-color);
}

.overlay:last-child .circle {
    border-top-left-radius: 0px;
    border-top-right-radius: 27px;
    top: -15px;
    right: -10px;
    border-left: 0;
    border-top: 1px solid var(--main-background-color);
    border-right: 1px solid var(--main-background-color);
}

@media (max-width: 700px) {
    .home {
        height: calc(100vh - 60px - 50px);
    }

    .header {
        top: 0px;
        padding-top: 0px;
        height: 60px;
    }
}