.wrapper {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 350px auto;
    width: 100%;
}

.messageGroup {
    grid-gap: 3px;
    display: flex;
    flex-direction: column;
}