.wrapper {
    width: 100%;
    position: relative;
}

.content {
    width: 36vw;
    top: 0;
    padding-right: 5px;
    margin-right: calc(31vw);
    margin-left: auto;
}

@media (max-width: 950px) {
    .content {
        width: 95%;
        margin-right: 0%;
    }
}