.wrapper {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.content {
    width: 36vw;
    top: 0;
    padding-right: 5px;
    margin-right: calc(31vw);
    margin-left: auto;
}

/* @media (max-width: 1300px) {
    .content {
        width: 90%;
        margin-right: 0%;
    }
} */

@media (max-width: 950px) {
    .content {
        width: 95%;
        margin-right: 0%;
    }
}