.wrapper {
    width: 100%;
    position: relative;
}

.content {
    width: 500px;
    top: 0;
    padding-right: 5px;
    margin-right: calc(33vw);
    margin-left: auto;
}

@media (max-width: 950px) {
    .content {
        width: 95%;
        margin-right: 0px;
    }
}

@media (max-width: 700px) {
    .content {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
}