.radioButton {
    font-family: 'Open Sans', sans-serif;
}

.radioButton h1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--main-paragraph-color);
}

.radioButton[id="active"] h1 {
    color: var(--main-font-color);
    font-weight: 700;
}

.radio {
    height: 25px;
    width: 25px;
    border: 1px solid var(--main-border-color);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.radioButton[id="active"] .radio {
    background: var(--sub-accent-color);
}

.checkImage {
    height: 15px;
    width: 15px;
    filter: var(--sub-filter);
}