.album {
    height: 100%;
    width: 100%;
    user-select: none;
}

.album[id="loading"] .cover {
    background: #ddd;
    margin-bottom: 5px;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.6 / 1;
    border-radius: 15px;
    transition: 0.15s ease;
    outline: 2px solid transparent;
    outline-offset: 3px;
}

.cover[id="selected"] {
    outline: 2px solid var(--main-blue-color);
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-paragraph-color);
    font-size: 12px;
    font-weight: 400;
}

.name {
    font-size: 17px;
    font-weight: 600;
    color: var(--main-font-color);
}

.coverWrapper {
    position: relative;
    opacity: 0.5;
    animation: fileAnimation 2s ease infinite;
}

.loader {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

@keyframes fileAnimation {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}