.rightPanel {
    height: calc(100vh - 70px);
    width: 700px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px auto 80px;
    padding-top: 0;
    animation: right 0.3s ease-in-out;
    margin-left: 4px;
    grid-gap: 0px;
    border-radius: 5px;
}

.block {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 0px;
    background: var(--main-accent-color);
    overflow: hidden;
    position: relative;
    /* border-radius: 2px; */
}

.block[id="items"] {
    /* background: var(--main-accent-color); */
    /* background: none; */
}

.block[id="header"] {
    /* background: var(--main-accent-color); */
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: sticky;
    padding: 10px;
    padding-bottom: 15px;
    align-items: center;
}

.filename {
    display: flex;
    align-items: center;
    grid-gap: 7px;
    text-align: center;
    justify-content: center;
}

.name, .type, .time {
    font-size: 14px;
    color: var(--main-font-color);
    text-align: center;
    max-width: 8ic;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.time {
    font-size: 12px;
    opacity: 0.5;
}

.type {
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.7;
    border: 1px solid var(--main-font-color);
    user-select: none;
    text-transform: uppercase;
}

.button {
    height: 35px;
    cursor: pointer;
    filter: invert(100%);
    opacity: 0.8;
    border-radius: 100%;
    padding: 7px;
    transition: 0.15s ease;
}

.button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.content::-webkit-scrollbar-track {
    background: transparent; 
}

.content::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.loader {
    height: 40px;
    width: 40px;
    border: 4px solid var(--main-background-color);
    border-left: 4px solid transparent;
    filter: invert(100%);
    animation: loader 0.6s linear infinite;
    border-radius: 100%;
}

.file {
    height: 90%;
    width: 90%;
    display: flex;
    color: var(--main-font-color);
    border-color: var(--main-font-color);
}

.file img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes right {
    0% {
        width: 0px;
    }
    100% {
        width: 800px;
    }
}