.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 45%;
    margin-right: 11%;
}

@media (max-width: 1300px) {
    .content {
        width: 90%;
        margin-right: 0%;
    }
}

@media (max-width: 950px) {
    .content {
        width: 95%;
        margin-right: 0%;
    }
}