.external-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.external-links p {

    color: var(--accounts-main-font-color);
    margin: 0;

}

    .external-links a {
        font-size: 14px;
        text-decoration: underline;
        color: #868aff;
    }

.external-link {
    display: flex;
    font-size: 14px;
    grid-gap: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}