.publications {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    grid-gap: 7px;
}

.publications[id="divided"] {
    padding-top: 0px;
    grid-gap: 10px;
}

.publication[id="separated"] {
    border: 1px solid var(--not-transparent-border-color);
    border-radius: 30px;
    background: var(--main-accent-color);
}

@media (max-width: 700px) {
    .publication[id="separated"] {
        border: none;
        border-top: 1px solid var(--not-transparent-border-color);
        border-bottom: 1px solid var(--not-transparent-border-color);
        border-radius: 0px;
    } 
}