.header {
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-border-color);
}

.header[id="loading"] {
    animation: var(--loading-animation);
}

.header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

@media (max-width: 600px) {
    .header {
        height: 120px;
    }   
}