.popUpList {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: var(--main-accent-color);
    color: var(--main-font-color);
    padding: 3px;
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    font-size: 16px;
    border-radius: 7px;
    font-weight: 400;
    user-select: none;
    z-index: 99999;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
}

.item {
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.item:hover {
    background: var(--pop-up-accent-color);
}