.gallery {
    height: 100vh;
    overflow-y: scroll;
}

.header {
    top: 60px;
    left: 0;
    position: sticky;
    background: var(--main-background-color);
    padding-bottom: 10px;
    background: var(--main-header-background-color);
    backdrop-filter: blur(10px) saturate(50%);
}

.content {
    margin-top: 30px;
}

.navigation {
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
}