.songListHeader {
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid var(--main-border-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr) 30px;
    user-select: none;
    padding-right: 70px;
    padding-left: 10px;
}

.item {
    width: fit-content;
    font-size: 18px;
    color: var(--main-paragraph-color);
    justify-self: end;
}

.name {
    display: flex;
    grid-gap: 20px;
}