.reaction {
    height: fit-content;
    width: fit-content;
    background: var(--main-accent-color);
    border-radius: 30px;
    padding: 5px;
    display: flex;
    grid-gap: 10px;
    user-select: none;
}

.emoji {
    height: 45px;
    width: 45px;
    object-fit: contain;
}