.setting {
    height: auto;
    min-height: 65px;
    width: 100%;
    background: var(--main-background-color);
    border-radius: 7px;
    transition: 0.25s ease;
    cursor: pointer;
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    grid-gap: 15px;
    position: relative;
    background: var(--sub-accent-background);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setting h1 {
    font-size: 12px;
    font-weight: 700;
}

.setting p {
    font-size: 12px;
    color: var(--main-paragraph-color)
}

.descImage {
    width: 27px;
    object-fit: cover;
}

.setting:hover {
    filter: brightness(98%);
}

.setting:active {
    filter: brightness(95%);
    transform: scale(98%);
}

.setting[id="first"] {
    border-radius: 20px 20px 7px 7px;
}

.setting[id="single"] {
    border-radius: 20px;
}

.setting[id="last"] {
    border-radius: 7px 7px 20px 20px;
}