.chats {
    margin-top: var(--margins);
    height: calc(100vh - var(--disconnected-height) - var(--margins) * 2);
    width: 100%;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
    z-index: 2;
    border-radius: var(--main-border-radius);
    background: var(--background-accent-color);
}

.chats[id="mobile"] {
    border: none;
    width: 100vw;
}

.chats::-webkit-scrollbar {
    display: none;
}

.header {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--background-accent-color);
    z-index: 1;
}

.top {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.top h1 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.create {
    display: flex;
    align-items: center;
    position: relative;
}

.createImage {
    height: 24px;
    width: 24px;
    cursor: pointer;
    filter: var(--main-filter);
}

.chatList {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
}

.popup {
    position: absolute;
    z-index: 999;
    right: -15px;
    top: 40px;
    display: flex;
    flex-direction: column;
    background: var(--pop-up-accent-color);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.item {
    padding: 10px 18px;
    padding-right: 80px;
    cursor: pointer;
    color: var(--main-font-color);
}

.item:hover {
    background: var(--main-accent-color);
}

.search {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 700px) {
    .header {
        padding-top: 0;
    }
}