.chats {
    height: calc(100vh - var(--disconnected-height));
    width: 300px;
    border-right: 1px solid var(--main-border-color);
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
    z-index: 2;
}

.chats[id="mobile"] {
    border: none;
    width: 100vw;
}

.chats::-webkit-scrollbar {
    display: none;
}

.header {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--main-background-color);
    z-index: 1;
}

.top {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.create {
    padding-top: 6px;
    padding-right: 0;
    cursor: pointer;
    position: relative;
}

.createImage {
    height: 22px;
    width: 22px;
    filter: var(--main-filter);
}

.chatList {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
}

.createPopUp {
    position: absolute;
    z-index: 999;
    right: -10px;
    top: 35px;
}

.search {
    margin: 5px 7px 5px 7px;
}

@media (max-width: 700px) {
    .header {
        padding-top: 0;
    }
}