.wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.contentWrapper {
    height: calc(100vh - 60px);
    padding-top: 10px;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    resize: horizontal;
    max-width: 100%;
    min-width: 500px;
    width: 100%;
}

::-webkit-resizer {
    height: 100vh;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    margin-bottom: 100px;
}

.content {
    width: auto;
    height: auto;
    display: grid;
    grid-gap: 35px;
    margin-top: 20px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}

.contentWrapper::-webkit-scrollbar {
    width: 8px;
}

.contentWrapper::-webkit-scrollbar-track {
    background: transparent; 
}

.contentWrapper::-webkit-scrollbar-thumb {
    background: var(--main-accent-color); 
    border-radius: 10px;
}