h1 {
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 20px;
}

    h1 span {
        color: #a279fb;
    }

.content {
    --form-width: 500px;
}

.content {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    animation: content_in 1s ease;
}

.form {
    height: auto;
    width: var(--form-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    object-fit: contain;
    transition: 1.25s ease;
    filter: var(--main-logo-filter);
}
.divided {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}
.color-mode {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 90px;
    right: 40px;
    border-radius: 100%;
    background: var(--main-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
    user-select: none;
}

    .color-mode img {
        height: 35px;
        width: 35px;
        filter: var(--main-logo-filter);
    }

    .color-mode:hover {
        transform: scale(102%);
        cursor: pointer;
    }

    .color-mode:active {
        transform: scale(95%);
    }

@keyframes content_in {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}