@media (max-width: 1220px) {

    .left, .right {
        display: none;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }

    .footer {
        grid-template-columns: 500px;
        justify-content: center;
        padding: 0;
        width: 100vw;
    }
}

@media (max-width: 600px) {

    body {
        overflow: hidden;
    }

    .content {
        --form-width: 80vw;
    }

    .footer {
        padding: 0;
        grid-template-columns: auto;
        width: 100vw;
    }

    .center {
        width: 100vw;
    }
}
