.back {
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
    color: var(--accounts-paragraph-text-color);
    user-select: none;
    color: var(--accounts-back-button-font-color);
}
