.avatar {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    background: var(--main-accent-color);
    position: relative;
}

.avatarImage {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.avatar[id="loading"] {
    animation: var(--loading-animation);
}

.status {
    height: 32px;
    width: 32px;
    background: var(--main-accent-color);
    border: 3px solid var(--main-background-color);
    position: absolute;
    right: 3px;
    bottom: 3px;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .avatar { 
        height: 120px;
        width: 120px;
    }
}