.wrapper {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-bottom: none;
    flex-direction: column;
    border: 1px solid var(--not-transparent-border-color);
    border-top: 0;
    margin-bottom: 50px;
    position: relative;
    border-radius: 25px;
    background: var(--item-background-color);
}