.wrapper {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-bottom: none;
    flex-direction: column;
    position: relative;
    border-radius: 35px;
}

.wrapper[borderstate="border"] {
    border: 1px solid var(--not-transparent-border-color);
}