.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-gap: 15px;
    margin-top: 5px;
}

@media (max-width: 700px) {
    .items {
        grid-gap: 20px;
    }
}