.stopGenerationWrapper {
    width: 100%;
    height: auto;
    bottom: 100px;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    transition: 0.15s ease;
    user-select: none;
}

.stopGeneration {
    background: var(--button-active-backgound);
    color: var(--button-active-text-color);
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    grid-gap: 7px;
    transition: 0.15s ease;
}

.stopGenerationWrapper:hover {
    transform: scale(101%);
}

.stopGenerationWrapper:active {
    transform: scale(99%);
}

.loader {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: linear-gradient(#ffffff, #000000);
    animation: animate 1s linear infinite;
}

.loader::after {
    position: absolute;
    content: "";
    background: var(--button-active-backgound);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 87%;
    width: 87%;
    border-radius: 100%;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
