.search {
    display: flex;
    align-items: center;
    padding: 9px 12px;
    grid-gap: 4px;
    border-radius: 11px;
    background: var(--main-accent-color);
}

.searchField {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    background: none;
    font-weight: 400;
}

.image {
    height: 13px;
    width: 13px;
    object-fit: contain;
    filter: var(--main-filter);
    opacity: 0.6;
}