.settingBar {
    margin-top: 20px;
    user-select: none;
}

.switch {
    height: 25px;
    width: 45px;
    background: var(--main-accent-color);
    border-radius: 30px;
    transition: 0.25s ease-in-out;
    margin-left: auto;
}

.switch[id="active"] {
    background: var(--main-blue-color);
}

.circle {
    height: 25px;
    width: 25px;
    border: 2px solid var(--main-accent-color);
    background: white;
    border-radius: 100%;
    margin-left: 0;
    margin-right: 20px;
    transition: 0.15s ease-in-out;
}

.switch[id="active"] .circle {
    justify-self: flex-end;
    border: 2px solid var(--main-blue-color);
    margin-left: 20px;
    margin-right: 0px;
}