.albumCover {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    overflow: hidden;
    transition: 0.1s;
    cursor: pointer;
    object-fit: cover;
    image-rendering: pixelated;
    flex-shrink: 0;
}

.albumCover:active {
    transform: scale(97%);
}

.albumCoverImage {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 99999;
    flex-shrink: 0;
    object-fit: cover;
}

.playing, .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}

.playing {
    opacity: 0;
}

.playing[id="open"] {
    opacity: 1;
}

.song:hover .loader {
    opacity: 0;
}

.barWrapper {
    display: flex;
    height: 50%;
    width: auto;
    grid-gap: 3px;
    justify-content: space-between;
    align-items: center;
}

.bar {
    height: 100%;
    width: 2px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    animation: barAnimation 0.75s ease-in-out infinite;
    
    &:nth-of-type(2) {
        animation-delay: -1s;
      }
    
    &:nth-of-type(3) {
        animation-delay: -2s;
    }

    &:nth-of-type(4) {
        animation-delay: -3s;
    }
}

.playImage {
    height: 35%;
    width: 35%;
    object-fit: contain;
    filter: invert(100%);
}

@keyframes barAnimation {
    0% {
        height: 30%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 30%;
    }
}