.wrapper {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-gap: 15px;
    overflow: visible;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.link {
    display: flex;
    align-items: center;
    grid-gap: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    user-select: none;
    cursor: pointer;
    border-top: 1px solid var(--not-transparent-border-color);
}

.link:last-child {
    padding-bottom: 5px;
}

.blocks {
    top: 90px;
    position: sticky;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.publicatios {
    margin-bottom: 30px;
}

.linkImage {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.arrow {
    height: 14px;
    width: 14px;
    margin-left: auto;
    filter: var(--main-filter);
    opacity: 0.3;
}

.name {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.photos {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    border-radius: 7px;
    overflow: hidden;
}

.photo {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 3px;
}