.input-container {
    width: 550px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #999;
  }

  .input-container input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 13px;
    border-radius: 10px;
    color: blakc;
    background: transparent;
  }

  .input-container input:focus {
    outline: none;
    outline: 2px solid #1976D2;
  }

  .input-container label {
    position: absolute;
    top: 11px;
    left: 15px;
    pointer-events: none;
    transition: 0.15s;
    color: #777;
  }

  .input-container input:focus ~ label,
  .input-container input:valid ~ label {
    transform: translateY(-27px);
    font-size: 13px;
    background: white;
    color: #1976D2;
    padding: 5px;
  }