.accessPicker {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-top: 1px solid var(--main-border-color);
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    grid-gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 5px;
    border-bottom: 1px solid var(--main-border-color);
    transition: 0.25s ease;
}

.item span {
    transition: 0.25s ease;
}

.title {
    color: var(--main-font-color);
    opacity: 0.4;
}

.item[id="active"] .title {
    opacity: 0.9;
}

.item[id="active"] .headerImage {
    opacity: 0.9;
}

.item[id="active"] .next {
    opacity: 0.9;
}

.item[id="active"] .select {
    opacity: 0.9;
    background: var(--main-font-color);
}

/* ------------------------------ */

.item:hover .title {
    opacity: 0.7;
}

.item:hover .headerImage {
    opacity: 0.7;
}

.item:hover .next {
    opacity: 0.7;
}

.item:hover .select {
    opacity: 0.7;
    background: var(--main-font-color);
    transition: 0.25s ease;
}

.headerImage {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    transition: 0.25s ease;
}

.next {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    margin-left: auto;
    transition: 0.25s ease;
}

.select {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    opacity: 0.4;
    border: 2px solid var(--main-font-color);
    margin-left: auto;
    transition: 0.25s ease;
}

.footer {
    height: 50px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: end;
}

.copy {
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 7px;
    color: var(--main-font-color);
    border: 1px solid var(--main-font-color);
    cursor: pointer;
    opacity: 0.3;
}