.userAvatar {
    height: 45px;
    width: 45px;
    background: var(--main-accent-color);
    border-radius: 100%;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    border: 2px solid var(--main-background-color);
    outline: 2px solid var(--main-border-color);
}

.userAvatar img {
    height: 45%;
    width: 45%;
    object-fit: cover;
    filter: var(--main-filter);
    opacity: 0.3;
}