.wrapper {
    margin-top: var(--margins);
    height: calc(100vh - var(--disconnected-height) - var(--margins) * 2);
    width: auto;
    display: flex;
    margin-top: var(--margins);
    margin-right: var(--margins);
    grid-gap: var(--margins);
}

.chat {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    border-radius: var(--main-border-radius);
    background: var(--background-accent-color);
}

.rightPanel {
    height: 100%;
    width: 600px;
    overflow: hidden;
    border-radius: var(--main-border-radius);
    background: var(--background-accent-color);
}

.chat[id="mobile"] {
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}

.chatInfo {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
}

.buttonImage {
    height: 18px;
    width: 18px;
    filter: var(--main-filter);
    cursor: pointer;
}

.inputPlaceholder, .buttons {
    height: 50px;
    border-top: 1px solid var(--main-border-color);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.accept, .reject {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.accept, .reject {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s ease;
    user-select: none;
}

.accept:hover, .reject:hover {
    background: var(--main-accent-color);
}

.accept:active, .reject:active {
    height: 85%;
}

.accept {
    color: var(--main-blue-color);
    border-right: 1px solid var(--main-border-color);
}

.reject {
    color: var(--main-red-color);
}

.loder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-gap: 30px;
}

.sendingText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loder span {
    font-size: 16px;
    color: var(--main-paragraph-color);
}

.textInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textInfo span {
    font-size: 16px;
    color: var(--main-paragraph-color);
    max-width: 500px;
}

.back {
    height: 32px;
    width: 32px;
    filter: var(--main-filter);
}