.data {
    display: flex;
    grid-gap: 35px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.counter {
    display: flex;
    grid-gap: 5px;
}

.counter h2 {
    font-size: 14px;
    color: var(--main-font-color);
}

.counter span {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-paragraph-color);
}