.select {
    top: -5px;
    right: -10px;
    height: 40px;
    width: 40px;
    background: rgba(88, 88, 88, 0.5);
    backdrop-filter: blur(10px);
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -7px;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    user-select: none;
    cursor: pointer;
}

.checkMark {
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkMark img {
    height: 18px !important;
    width: 18px !important;
    object-fit: contain !important;
}

.wrapper {
    position: relative;
}