.attachments {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
}

.block {
    height: auto;
    width: 100%;
    background: white;
}