.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: var(--main-gap);
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}