.header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    left: 0;
    background: var(--main-header-background-color);
    backdrop-filter: blur(10px) saturate(50%);
}

.buttons {
    height: 60px;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 15px;
    grid-gap: 15px;
}

.button {
    height: 40px;
    width: 40px;
    background: var(--main-accent-color);
    border-radius: 100%;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: -webkit-optimize-contrast;
    overflow: hidden;
}

.button:hover {
    transform: scale(105%);
    filter: brightness(95%);
}

.button:active {
    transform: scale(95%);
    filter: brightness(90%);
}

.buttonImage {
    height: 20px;
    filter: var(--main-filter);
}

.avatar {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    outline: 1px solid var(--main-border-color);
}