.comment {
    display: flex;
    align-items: start;
    grid-gap: 15px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-border-color);
}

.information {
    display: flex;
    width: 100%;
    grid-gap: 3px;
    flex-direction: column;
}

.nameWrapper {
    display: flex;
    grid-gap: 5px;
}

.name {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-font-color);
}

.time {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.text {
    font-size: 16px;
    color: var(--main-font-color);
    max-width: 300px;
}

.avatarPreview {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    flex-shrink: 0;
    animation: preview 2s ease infinite;
}

.namePreview, .textPreview {
    height: 20px;
    border-radius: 5px;
    animation: preview 2s ease infinite;
}

.namePreview {
    width: 100px;
}

.textPreview {
    width: 300px;
}

.right {
    margin-left: auto;
}

.control {
    width: 100%;
    display: flex;
    margin-top: 5px;
    grid-gap: 5px;
}

.attachments {
    margin-top: 10px;
    display: flex;
    grid-gap: 5px;
}

.image {
    height: 250px;
    width: auto;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    /* animation: var(--loading-animation); */
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes preview {
    0% {
        background: #bbb;
    }
    
    50% {
        background: #555;
    }

    100% {
        background: #bbb;
    }
}