.comment {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
}

.header {
    display: flex;
    width: 100%;
    grid-gap: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

.nameWrapper {
    display: flex;
    grid-gap: 0px;
    flex-direction: column;
}

.name {
    font-size: 15px;
    font-weight: 700;
    color: var(--main-font-color);
}

.time {
    font-size: 12px;
    color: var(--main-paragraph-color);
}

.postContent {
    display: flex;
    flex-direction: column;
}

.textWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-font-color);
    width: calc(100% - 20px);
}

.avatarPreview {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    flex-shrink: 0;
    animation: preview 2s ease infinite;
}

.namePreview, .textPreview {
    height: 20px;
    border-radius: 5px;
    animation: preview 2s ease infinite;
}

.namePreview {
    width: 100px;
}

.textPreview {
    width: 300px;
}

.right {
    margin-left: auto;
}

.postContent {
    width: 100%;
}

.control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    width: fit-content;
    display: flex;
    /* padding: 10px; */
    margin-top: 10px;
    border-radius: 5px;
    /* grid-gap: 15px; */
    overflow: hidden;
    border: 1px solid var(--main-border-color);
}

.border {
    margin-top: auto;
    margin-bottom: auto;
    height: 60%;
    width: 1px;
    background: var(--main-border-color);
}

.attachments {
    width: 100%;
    margin-top: 5px;
    display: flex;
    grid-gap: 2px;
    border-radius: 5px;
    overflow: hidden;
    image-rendering: pixelated;
    border: 1px solid var(--main-border-color);
    cursor: pointer;
}

/* ============================================== */

.image {
    height: 100%;
    aspect-ratio: 1.5 / 1;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
}

/* ============================================== */

.attachments[id="view-type-1"] .image {
    height: auto;
    width: 100%;
}

.attachments[id="view-type-1"] image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: contain;
}

/* ============================================== */

.attachments[id="view-type-2"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ============================================== */

.attachments[id="view-type-3"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attachments[id="view-type-3"] .image {
    aspect-ratio: 1.7 / 1;
}

.attachments[id="view-type-3"] .image:first-child {
    grid-row: span 2;
}

/* ============================================== */

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ============================================== */

@keyframes preview {
    0% {
        background: #bbb;
    }
    
    50% {
        background: #555;
    }

    100% {
        background: #bbb;
    }
}

/* ============================================== */