.content {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.margin-top-20 {
    margin-top: 20px;
}

.form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;
    width: auto;
}

.main-logo {
    height: 70px;
    width: 95px;
    object-fit: contain;
}

h1 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 600;
    color: var(--main-font-color)
}

.page-description {
    max-width: 450px;
    font-size: 14px;
    text-align: center;
    color: var(--paragraph-text-color);
    margin-bottom: 22px;
}

.selected-text {
    background: var(--h1-accent-color);
    background-image: var(--h1-accent-color-g);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}