.content {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

.margin-top-20 {
    margin-top: 20px;
}

.form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;
    width: auto;
}

.main-logo {
    height: 70px;
    width: 95px;
    object-fit: contain;
}

h1 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 600;
}

p {
    max-width: 450px;
    font-size: 14px;
    text-align: center;
    color: #777;
    margin-bottom: 22px;
}

.selected-text {
    background: -webkit-linear-gradient(45deg, #ff5bff, #3127f7);
    background-image: linear-gradient(45deg, #ffa7fb, #1430fb, #a5b6fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}