.container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background: var(--pop-up-accent-color);
    border-radius: 15px;
    padding: 12px;
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.header:hover {
    background: var(--pop-up-accent-color);
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-font-color);
}

.image {
    height: 17px;
    width: 17px;
    filter: var(--main-filter);
    object-fit: contain;
    transition: 0.2s ease;
}

.image[id="open"] {
    transform: rotate(90deg);
}