.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 5px;
    grid-gap: 15px;
    padding-bottom: 100px;
}

@media (max-width: 700px) {
    .content {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
}