.wrapper {
    width: 100%;
}

.content {
    width: 70%;
    /* top: 0; */
    /* padding-right: 5px; */
    margin-right: 22%;
    margin-left: auto; 
}

/* @media (max-width: 1300px) {
    .content {
        width: 90%;
        margin-right: 0%;
    }
} */

/* @media (max-width: 950px) {
    .content {
        width: 95%;
        margin-right: 0%;
    }
} */