.song {
    height: 68px;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 30px;
    user-select: none;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    position: relative;
}

.select {
    background: var(--main-accent-color);
    border-radius: 0;
    transition: 0.25s ease;
}

.song:hover {
    background: var(--main-accent-color);
}

.song[id="short"] {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.song[id="short"] .item {
    font-size: 15px;
}

.song[id="short"] .name {
    grid-gap: 15px;
}

.artistName {
    display: flex;
    flex-direction: column;
}

.item {
    max-width: 10ic;
    width: fit-content;
    font-size: 16px;
    justify-content: center;
    color: var(--main-paragraph-color);
    justify-self: end;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item[id='name'] {
    color: var(--main-font-color);
    font-weight: 600;
}

.index {
    width: 17px;
    color: var(--main-paragraph-color);
}

.name {
    display: flex;
    grid-gap: 15px;
    color: var(--main-font-color);
    align-items: center;
}

.albumCover {
    height: 47px;
    width: 47px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.1s;
    cursor: pointer;
}

.selectBoxWrapper {
    width: 30px;
}