.files {
    padding: 5px;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.file {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin: 3px;
    cursor: pointer;
    padding-right: 30px;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: var(--main-blue-color);
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
}

.information span {
    max-width: 200px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
}

.play {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-blue-color);
    border-radius: 100%;
    cursor: pointer;
}

.play img {
    height: 18px;
}

.range {
    height: 21px;
    display: flex;
    align-items: center;
}