.rangeWrapper {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    transform: scale(95%);
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 180px;
    height: 17px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main-background-color);
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin-top: -6px;
    border: 3px solid var(--main-font-color);
    box-shadow: calc(-100vmax - 15px) 0 0 100vmax var(--main-background-color);
    cursor: pointer;
    clip-path: polygon(
        100% 0,
        3px 0,
        0 7px,
        -100vmax 5px,
        -100vmax 0px,
        0 10px,
        5px 100%,
        100% 100%
    );
}

.range::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 4px;
    border: 0px solid #fff;
    box-shadow: 0px 0px 0px #ffffff96;
    background: var(--main-accent-color);
}

.button {
    height: 25px;
    width: 25px;
    padding: 5px;
    image-rendering: pixelated;
    cursor: pointer;
    filter: var(--main-filter);
}

/* .button:hover {
    background: var(--main-accent-color);
} */