.settingType {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 15px;
    padding: 15px;
    border-radius: 20px;
    background: var(--main-background-color);
    background: var(--sub-accent-background);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingType h1 {
    font-size: 16px;
    font-weight: 700;
}

.settingType p {
    font-size: 12px;
    color: var(--main-paragraph-color)
}