.header {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1;
    background: var(--main-background-color);
    padding-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    color: var(--main-font-color);
    font-weight: 500;
}

.pathWrapper {
    display: flex;
    grid-gap: 5px;
}

.pathWrapper img {
    height: 12px;
    width: 12px;
    filter: var(--main-filter);
    opacity: 0.7;
    margin-top: auto;
    margin-bottom: auto;
}

.path {
    font-size: 14px;
    color: var(--main-paragraph-color);
}

.folder {
    display: flex;
    align-self: center;
    justify-content: center;
    grid-gap: 5px;
}

.buttonBlock {
    display: flex;
    grid-gap: 14px;
    position: relative;
}

.create {
    height: auto;
    width: 460px;
    top: 30px;
    left: calc(50% - 232.5px);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
}

.create[id="open"] {
    opacity: 1;
    visibility: visible;
}