.button {
    width: auto;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.button a {
    height: 100%;
    width: 100%;
    padding: 12px 15px;
    color: var(--main-paragraph-color);
}

@media(hover: hover) {
    .button:hover {
        background: var(--main-accent-color);
    }
}

@media(hover: none) {
    .button[id="active"] {
        background: var(--main-accent-color);
    }
    
    .button[id="active"] a {
        color: var(--main-font-color);
        font-weight: 700;
    }
}

@media (max-width: 700px) {
    .button {
        font-size: 16px;
    }
    .button a {
        padding: 15px 15px;
    }
}