.button {
    width: auto;
    border-radius: 7px;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.button a {
    height: 100%;
    width: 100%;
    padding: 12px 15px;
    color: var(--main-paragraph-color);
}

.button[id="active"] {
    filter: brightness(90%);
}

.button[id="active"] a {
    color: var(--main-font-color);
    font-weight: 700;
}

.button:hover {
    filter: brightness(90%);
}