.photos {
    /* margin-right: 15px; */
    padding-bottom: 110px;
    user-select: none;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background: var(--main-accent-color);
    image-rendering: -webkit-optimize-contrast;  /* Chrome, Safari */
    image-rendering: -moz-crisp-edges;           /* Firefox */
    image-rendering: -o-crisp-edges;             /* Opera */
    image-rendering: pixelated;                  /* Standard */
    -ms-interpolation-mode: nearest-neighbor;    /* IE */
    transition: 0.25s ease;
    outline: 4px solid transparent;
    outline-offset: -4px;
}

.photos[id="waterfall"] {
    column-count: 6;
    column-gap: 10px;
}

.photos[id="waterfall"] .photoWrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.photos[id="waterfall"] img {
    border-radius: 20px;
    aspect-ratio: auto;
    padding: 0px;
}

.photos[id="grid"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 4px;
}

.photos[id="grid"] img {
    border-radius: 0px;
    border: 0px solid rgba(255, 255, 255, 0.2);
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.photos img[id="contain"] {
    padding: 5px;
}

.photos img[id="active"] {
    outline: 4px solid var(--main-blue-color);
}

.photoWrapper[id="loadingPhoto"] {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    cursor: not-allowed;
    animation: fileAnimation 2s ease infinite;
}

@keyframes fileAnimation {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}