.songInformation {
    padding: 0px;
    display: flex;
    margin-top: 10px;
}

.coverWrapper {
    position: relative;
    user-select: none;
}

.cover {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background: #757b81;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.coverImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.information {
    padding-left: 48px;
    grid-gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}

.songName {
    overflow: hidden;
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.songName span {
    margin-top: 12.5%;
    font-weight: 700;
    font-size: 48px;
    color: var(--main-font-color);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.artist {
    font-weight: 500;
    font-size: 20px;
    color: var(--main-font-color);
    opacity: 0.8;
}

.playPanel {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

@media (max-width: 1000px) {
    .cover, .effect {
        height: 230px;
        width: 230px;
    }

    .songName span {
        font-size: 48px;
    }
}