.InstendCloud {
    height: 500px;
    width: 725px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    flex-direction: column;
    cursor: pointer;
}

.add {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue-color);
    user-select: none;
    cursor: pointer;
}

.add:hover {
    background: var(--pop-up-accent-color);
}