.header {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 50px;
    left: 0;
    background: var(--main-background-color);
    z-index: 9999;
}

@media (max-width: 700px) {
    .header {
        height: 45px;
        top: 0px;
    }    
}