.subInput {
    max-height: 300px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    resize: none;
    padding-top: 10px;
    /* background: red; */
    border-bottom: 1px solid var(--main-border-color);
}