.accessPicker {
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-top: 1px solid var(--main-border-color);
}

.items {
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.loader {
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}

.description {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
    opacity: 0.4;
    font-weight: 400;
    padding-left: 10px;
    margin-top: 3px;
    padding-right: 10px;
}

.headerImage {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    transition: 0.25s ease;
}

.next {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    margin-left: auto;
    transition: 0.25s ease;
}

.select {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    opacity: 0.4;
    border: 2px solid var(--main-font-color);
    margin-left: auto;
    transition: 0.25s ease;
}

.footer {
    height: auto;
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
    align-items: end;
    padding-top: 15px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid var(--main-border-color);
}

.copy {
    padding: 9px 18px;
    font-size: 16px;
    border-radius: 13px;
    color: var(--main-font-color);
    cursor: pointer;
    background: var(--pop-up-accent-color);
    transition: 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
}

.copyWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.info {
    padding: 6px 12px;
    background: var(--main-font-color);
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.copy span {
    opacity: 0.25;
}

.copy img {
    height: 16px;
    opacity: 0.25;
    filter: var(--main-filter);
}

.loaderWrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paddings {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}