.accessPicker {
    height: auto;
    width: 370px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-top: 1px solid var(--main-border-color);
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    grid-gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom: 1px solid var(--main-border-color);
    transition: 0.25s ease;
}

.item span {
    transition: 0.25s ease;
}

.title {
    color: var(--main-font-color);
    opacity: 0.4;
}

.item[id="active"] .title {
    opacity: 0.9;
}

.item[id="active"] .headerImage {
    opacity: 0.9;
}

.item[id="active"] .next {
    opacity: 0.9;
}

.item[id="active"] .select {
    opacity: 0.9;
    background: var(--main-font-color);
}

/* ------------------------------ */

.item:hover .title {
    opacity: 0.7;
}

.item:hover .headerImage {
    opacity: 0.7;
}

.item:hover .next {
    opacity: 0.7;
}

.item:hover .select {
    opacity: 0.7;
    background: var(--main-font-color);
    transition: 0.25s ease;
}

.headerImage {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    transition: 0.25s ease;
}

.next {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    filter: var(--main-filter);
    opacity: 0.4;
    margin-left: auto;
    transition: 0.25s ease;
}

.select {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    opacity: 0.4;
    border: 2px solid var(--main-font-color);
    margin-left: auto;
    transition: 0.25s ease;
}

.footer {
    height: 50px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    grid-gap: 15px;
    align-items: end;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.copy {
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 7px;
    color: var(--main-font-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background: var(--pop-up-accent-color);
    transition: 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
}

.copyWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.info {
    padding: 6px 12px;
    background: var(--main-font-color);
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.copy span {
    opacity: 0.25;
}

.copy img {
    height: 16px;
    opacity: 0.25;
    filter: var(--main-filter);
}

.loaderWrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}