.message {
    display: flex;
    grid-gap: 10px;
    image-rendering: pixelated;
    height: fit-content;
    align-items: center;
}

.avatar {
    height: 30px;
    width: 30px;
    background: var(--main-accent-color);
    border-radius: 100%;
    object-fit: contain;
}

.avatarPlaceholder {
    height: 30px;
    width: 30px;
}

.name {
    font-size: 16px;
    color: var(--main-font-color);
    margin-top: 0px;
}

.text {
    font-size: 15px;
    color: var(--main-font-color);
}

.messageText {
    height: fit-content;
    padding: 7px 12px;
    /* background: var(--main-accent-color); */
    background: var(--main-blue-color);
    border-radius: 15px;
    display: flex;
    height: fit-content;
}

.first {
    border-radius: 15px 15px 15px 5px;
}

.middle {
    border-radius: 5px 15px 15px 5px;
}

.last {
    border-radius: 5px 15px 15px 15px;
}

.time {
    color: var(--main-font-color);
    opacity: 0.8;
    font-size: 12px;
}