.message {
    display: flex;
    grid-gap: 10px;
    image-rendering: pixelated;
    height: fit-content;
    align-items: end;
}

.avatar {
    height: 33px;
    width: 33px;
    background: var(--main-accent-color);
    border-radius: 100%;
    object-fit: contain;
    margin-bottom: 1px;
    user-select: none;
}

.avatarPlaceholder {
    height: 33px;
    width: 33px;
}

.name {
    font-size: 16px;
    color: var(--main-font-color);
    margin-top: 0px;
}

.text {
    font-size: 0.95em;
}

.messageContent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background: var(--main-accent-color);
}

.messageText {
    height: fit-content;
    width: fit-content;
    padding: 6px 8px;
    display: flex;
    height: fit-content;
    max-width: 500px;
    font-weight: 500;
    user-select: none;
    color: var(--main-font-color);
}

.message[id="selected"] .messageContent {
    filter: brightness(150%);
}

.messageContent[id="My"] {
    background: var(--main-blue-color);
    color: white;
}

.first {
    border-radius: 25px 25px 25px 2px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.middle {
    border-radius: 2px 25px 25px 2px;
    margin: 0px;
}

.last {
    border-radius: 2px 25px 25px 25px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.information {
    display: flex;
    align-items: end;
    margin-left: auto;
}

.textParts {
    display: flex;
    flex-direction: column;
}

.time {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    margin-left: 7px;
    text-wrap: nowrap;
    margin-top: auto;
    user-select: none;
}