.popUpWrapper {
    height: 100svh;
    width: 100svw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
}

.window {
    height: auto;
    width: auto;
    background: var(--main-accent-color);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 9999;
}

.close {
    border-radius: 100%;
    margin-left: auto;
    height: 38px;
    margin-right: 12px;
    width: 38px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--pop-up-accent-color);
    transition: 0.15s ease;
    border: 1px solid transparent;
}

.close:active {
    /* top: 15px;
    right: 15px;
    height: 35px;
    width: 35px; */
    border: 1px solid var(--main-border-color);
}

.close:hover .closeImage { 
    opacity: 0.9;
}

.backButton:hover img { 
    opacity: 1;
}

.closeImage {
    height: 13px;
    width: 13px;
    filter: var(--main-filter);
    opacity: 0.6;
    transition: 0.15s ease;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
}

.header[id="absulute"] {
    top: 0;
    right: 0;
    position: absolute;
}

.title {
    font-size: 18px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    user-select: none;
}

.backButton {
    height: 33px;
    width: 33px;
    margin-left: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pop-up-accent-color);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.back {
    padding: 8px;
    height: 33px;
    width: 33px;
    cursor: pointer;
    opacity: 0.6;
    filter: var(--main-filter);
    transition: 0.15s ease;
}

.popupContent {
    height: 100%;
    display: flex;
    overflow: hidden;
}