.cloudHeaderWrapper {
    top: 60px;
    width: 100%;
    position: sticky;
    z-index: 2;
}

.header {
    height: auto;
    background: var(--main-background-color);
    display: flex;
    justify-content: space-between;
}

.wrapper {
    height: calc(100vh - var(--disconnected-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.content {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 35px;
    margin-top: 5px;
    overflow: visible;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 5px;
    padding-right: 15px;
    z-index: 0;
}

.contentWrapper::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.contentWrapper::-webkit-scrollbar-track {
    background: transparent; 
}

.contentWrapper::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.placeholder {
    height: 55vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessButton[id="disabled"] {
    opacity: 0.5;
}

.rightButtons {
    display: flex;
    grid-gap: 7px;
}

img {
    transition: 0.15s ease;
}

img[id="reversed"] {
    transform: rotate(180deg);
}

.elementsWrapper {
    padding-bottom: 30px;
}

@media (max-width: 700px) {
    .wrapper {
        height: calc(100vh - var(--mobile-header-height) - var(--mobile-bottom-panel-height));
        padding-left: 15px;
        padding-right: 15px;
    } 

    .content {
        padding-right: 0;
        grid-gap: 20px;
    }

    .cloudHeaderWrapper {
        top: 0px;
    }
}