.wrapper {
    height: calc(100vh - var(--disconnected-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    /* padding-top: 5px; */
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
}

/* .contentWrapper {
    height: calc(100vh - 65px);
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: relative;
    min-width: 500px;
    width: 100%;
} */

.content {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 35px;
    margin-top: 5px;
    overflow: visible;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 5px;
    padding-right: 15px;
    z-index: 0;
}

.contentWrapper::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.contentWrapper::-webkit-scrollbar-track {
    background: transparent; 
}

.contentWrapper::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.placeholder {
    height: 55vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    } 

    .content {
        padding-right: 0;
    }
}