.header {
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    padding-left: 17vw;
    padding-right: 17vw;
    flex-direction: row;
    position: sticky;
    padding-top: 5px;
    z-index: 9999999;
    padding-bottom: 5px;
    transition: 0.5s ease;
    background: var(--main-header-color);
    backdrop-filter: blur(10px) saturate(70%);
    -webkit-backdrop-filter: blur(10px) saturate(70%);
    align-items: center;
}

.header[id="mobile"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header[id="menu-open"] {
    position: fixed;
    overflow: visible;
    background: var(--main-header-color);
}

.product-logo {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.company-name {
    font-weight: 600;
}

.logo {
    height: 40px;
    width: 40px;
    filter: var(--header-icon-filter);
}

.product-name {
    font-size: 15px;
    color: var(--main-font-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    margin-left: auto;
    grid-gap: 30px;
}

.account-header-menu {
    margin-left: auto;
    user-select: none;
}

.account-header-menu-image {
    height: 30px;
    padding: 5px;
    filter: var(--main-header-link-icon-filter);
}

.header-menu-items {
    height: 0px;
    width: 100vw;
    background: rgb(255, 255, 255, 1);
    top: 50px;
    left: 0;
    z-index: 999999999999999;
    position: fixed;
    transition: 0.5s ease;
    overflow: hidden;
    filter: var(--main-header-link-icon-filter);
}

.header-menu-items[id="open"] {
    height: calc(100vh - 50px);
}

.header-menu-links {
    padding-left: 4vw;
    padding-right: 4vw;
    filter: var(--main-header-link-icon-filter);
}

.header-menu-links .link {

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.header-menu-links .link span {

    font-size: 16px;

}

.header-menu-links .link img {

    height: 16px;
    

}