:root {
    --main-background-color: white;
    --main-border-color: rgba(0, 0, 0, 0.15);
    --main-accent-color: #f3f3f3;
    --main-font-color: #000;
    --main-header-font-color: #c2c2c2;
    --main-header-background-color: #ffffffce;
    --main-blue-color: rgb(40, 108, 255);
    --main-accent-font-color: white;
    --main-paragraph-color: #777;
    --main-button-background-color: black;
    --main-filter: invert(0%);
    --main-button-font-color: white;
    --main-pop-up-color: #fff;
    --main-header-font-color: #888;
    --sub-background-color: #f5f5f7;
    --sub-accent-background: #fff;
    --sub-accent-color: black;
    --sub-filter: invert(100%);
    --button-disabled-backgound: #eee;
    --button-active-backgound: #000000;
    --button-loading-backgound: #000000;
    --button-disabled-text-color: #ffffff;
    --button-active-text-color: #ffffff;
    --button-loading-text-color: #ffffff;
    --button-loader-color: rgb(255, 255, 255);
    --main-blur-effect: blur(10px) saturate(50%);
    --color-scheme: light;
    --pop-up-accent-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --main-background-color: rgb(0, 0, 0);
    --main-border-color: rgba(255, 255, 255, 0.2);
    --main-accent-color: #212125;
    --main-font-color: #ffffff;
    --main-header-font-color: #161616;
    --main-header-background-color: #000000ce;
    --main-blue-color: rgb(40, 108, 255);
    --main-accent-font-color: white;
    --main-paragraph-color: #aaa;
    --main-button-background-color: rgb(255, 255, 255);
    --main-filter: invert(100%);
    --main-button-font-color: rgb(0, 0, 0);
    --main-pop-up-color: #fff;
    --main-header-font-color: #555;
    --sub-background-color: #000000;
    --sub-accent-color: rgb(255, 255, 255);
    --sub-accent-background: #161616;
    --sub-filter: invert(0%);
    --button-disabled-backgound: #161616;
    --button-active-backgound: #ccc;
    --button-loading-backgound: #000000;
    --button-disabled-text-color: #ffffff;
    --button-active-text-color: #ffffff;
    --button-loading-text-color: #ffffff;
    --button-loader-color: rgb(255, 255, 255);
    --main-blur-effect: blur(10px) saturate(50%);
    --color-scheme: dark;
    --pop-up-accent-color: #313134;
}