:root {
    --main-background-color: white;
    --main-border-color: rgba(0, 0, 0, 0.15);
    --main-accent-color: #f3f3f3;
    --main-font-color: #000;
    --main-header-font-color: #c2c2c2;
    --main-header-background-color: #ffffffce;
    --main-paragraph-color: #555;
    --main-pop-up-color: #fff;
    --main-pop-up-effect: 0px 0px 50px rgba(0, 0, 0, 0.07);
}