* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.cloud-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}

.cloud-content-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
}

.mobile-header {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px 0px;
    align-items: center;
    /* border-bottom: 1px solid var(--main-border-color); */
}

.service-name {
    display: flex;
    align-items: center;
}

.service-name h1 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    color: var(--main-font-color);
}

.service-name h2 {
    font-weight: 500;
    font-size: 21px;
    color: var(--main-paragraph-color);
}

.service-name img {
    height: 60px;
    filter: var(--main-filter);
}

.drop {
    background: var(--main-font-color);
    border-radius: 50%;
    animation: drop 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes drop {
    to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0;
    }
}