@media (max-width: 1138px) {

    .footer {
        padding-left: 10vw;
        padding-right: 10vw;
    }

}

@media (max-width: 652px) {

    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 60px;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        display: flex;
        grid-gap: 10px;
        align-items: center;
        flex-direction: column;
    }

    .footer-links {
        justify-content: space-between;
        grid-gap: 7px;
    }

    .footer-link {
        padding-right: 7px;
    }

    .footer[id="not-necessary"] {
        display: none;
    }

    .copyright {
        margin-left: 0;
    }

}