.wrapper {
    position: relative;
}

.contextMenu {
    position: fixed;
    top: 200px;
    left: 200px;
    width: fit-content;
    backdrop-filter: var(--main-blur-effect);
    z-index: 9999999;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    padding-bottom: 5px;
    background: var(--main-accent-color);
    animation: open 0.25s ease;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.409);
}

.before {
    padding-bottom: 0;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--main-paragraph-color);
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 3px;
}

.menuItem {
    color: var(--main-font-color);
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    align-items: center;
    grid-gap: 60px;
    justify-content: space-between;
    background: transparent;
}

.menuItem:active {
    transform: scale(98%);
}

.menuItem:hover {
    background: var(--pop-up-accent-color);
}

.menuItem img {
    height: 21px;
    width: 21px;
    object-fit: contain;
    filter: var(--main-filter);
}

.red {
    font-weight: 500;
    color: rgb(255, 61, 61);
}

.redImage {
    filter: none !important;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(80%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}