.textBlock {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.textBlock h1 {
    font-size: 20px;
    font-weight: 700;
}

.text {
    font-size: 15px;
    color: var(--main-paragraph-color);
}

.textBlock hr {
    height: 1px;
    outline: none;
    border: none;
    background: var(--main-border-color);
}

.titleWrapper h1 {
    font-size: 18px;
    font-weight: 700;
    background: none;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.titleWrapper h2 {
    font-size: 17px;
    font-weight: 500;
    color: var(--main-blue-color);
    cursor: pointer;
    user-select: none;
}