.notifications {
    position: absolute;
    top: 40px;
    right: -55px;
    height: 60svh;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background: var(--main-accent-color);
}

.header {
    width: 100%;
    padding: 12.5px 20px;
    border-bottom: 1px solid var(--main-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-font-color);
}