.input-wrapper {
    outline: 3px solid transparent;
    width: 100%;
    border-radius: 20px;
    background: var(--main-accent-color);
    overflow: hidden;
    display: flex;
    position: relative;
    transition: 0.75s ease;
    transition: 0.2s ease;
}

    .input-wrapper:focus-within {
        outline: 2px solid rgb(69, 103, 255);
    }

    .input-wrapper input {
        height: auto;
        width: 100%;
        font-size: 16px;
        padding: 18px 15px;
        border: none;
        background: none;
        outline: none;
        user-select: all;
        color: var(--main-input-color);
    }

        .input-wrapper input::placeholder {
            color: var(--main-placeholder-color);
        }
