.gallery {
    height: calc(100vh - var(--disconnected-height));
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    height: 55px;
    top: 60px;
    left: 0;
    position: sticky;
    background: var(--main-header-background-color);
    background: var(--main-background-color);
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 18px;
    display: flex;
    grid-gap: 30px;
    flex-direction: column;
    z-index: 1;
}

.up {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding-bottom: 100px;
    margin-right: 15px;
}

.navigation {
    display: flex;
}

.buttons {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: end;
}

.button {
    height: 18px;
    width: 18px;
    filter: var(--main-filter);
    cursor: pointer;
}

.currentDate {
    display: flex;
    flex-direction: column;
}

.date {
    font-weight: 600;
    font-size: 18px;
    color: var(--main-font-color);
}

.location {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-paragraph-color);
}

@media (max-width: 700px) {
    .header {
        padding-top: 5px;
        padding-bottom: 20px;
        top: 0px;
    }

    .up {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        padding-left: 15px;
        padding-right: 15px;
    } 
    
    .rangeWrapper {
        display: none;
    }   
}

@media (max-width: 700px) {
    .gallery {
        height: calc(100vh - var(--mobile-header-height) - var(--mobile-bottom-panel-height));
    }

    .content {
        padding-bottom: 0px;
    }
}