.button {
    height: fit-content;
    width: fit-content;
    padding: 7px 20px;
    background: var(--main-blue-color);
    color: var(--main-font-color);
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}