.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    /* background: #f8f8fa; */
    background: var(--sub-background-color);
}

.settings {
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 10px;
    background: var(--main-background-color);
    border-right: 1px solid var(--main-border-color)
}

.content {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.line {
    height: 1px;
    width: 100%;
    background: var(--main-border-color);
}

.headerLine {
    height: 1px;
    top: 60px;
    left: 0;
    width: auto;
    position: sticky;
    background: var(--main-border-color);
}

.buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding: 20px 5px;
}

@media (max-width: 1000px) {
    .settingWrapper {
        width: auto;
        padding: 20px 2vw;
    }
}