.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.settings {
    width: 350px;
    overflow: hidden;
    padding: 0px 10px;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.line {
    height: 1px;
    width: 100%;
    background: var(--main-border-color);
}

.headerLine {
    height: 1px;
    width: auto;
    margin: 0 5vw;
    background: var(--main-border-color);
}

.buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingWrapper {
    padding: 20px 10vw;
}