.back, .next {
    outline: none;
    border: none;
    padding: 7px 25px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background: var(--main-accent-color);
    color: var(--main-font-color);
}

.next {
    background: var(--main-blue-color);
    color: var(--main-accent-font-color);
}

.next:disabled {
    background: var(--main-accent-color);
    color: var(--main-font-color);
    cursor: not-allowed;
}